.error__image {
  width: 80%;
  max-width: 400px;

  &--notSend {
    transform: rotate(-45deg);
  }
}

.error__h2 {
  padding: 2rem 2rem 0 2rem;
}

.error__p {
  text-align: center;
}

@mixin error--m {
  .error__image {
    float: left;
  }

  .error__p {
    margin-top: 11rem;
    width: 80%;
  }
}
