.logo {
  display: block;
  margin: 0 auto 2rem auto;
  max-width: 200px;
}

.logo__top {
  //   border: 1px solid $blackColor;
  overflow: hidden;

  &__cirkelTop {
    font-size: 0;
    height: 31px;
    background-color: $yellowColor;
    transition: background-color 1s ease-in-out;

    &__orange {
      background: linear-gradient($orangeColor, $orangeColor 50%, $yellowColor, $yellowColor 50%);
      display: block;
      position: relative;
      left: 108px;
      width: 60px;
      height: 60px;
      border-radius: 50%;
    }
  }
}

.logo__cirkelBottom {
  font-size: 0;
  background-color: $orangeColor;
  height: 30px;
  vertical-align: bottom;
  transition: background-color 1s ease-in-out;
}

.logo__text {
  font-family: $fontLogo;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.11rem;
  font-size: 1rem;
  text-align: center;
  color: $blackColor;
  position: absolute;
  z-index: 999;
  top: 33px;
  left: 49%;
  transform: translate(-50%);

  &__dot {
    position: relative;
    top: -5px;
    margin-left: 0.5rem;
    margin-right: 0.9rem;
    // border: 1px solid red;
    transition: all 0.5s ease-in-out;
  }
}

.logo__top:hover {
  background-color: $whiteColor;
  border: 1px solid $blackColor;

  .logo__top__cirkelTop {
    background-color: $whiteColor;
  }

  .logo__cirkelBottom {
    background-color: $whiteColor;
    transition: background-color 0.5s ease-in-out;
  }

  .logo__top__cirkelTop__orange {
    background: $whiteColor;
    // background: linear-gradient($yellowColor, $yellowColor 50%, $yellowColor, $yellowColor 50%);
    transition: all 0.5s ease-in-out;
  }

  .logo__text__dot {
    margin: 0;
    top: 0;
    transition: all 0.5s ease-in-out;
  }
}

@mixin logo--vs {
  // 320
  .logo {
    max-width: 300px;
  }

  .logo__top {
    // max-width: 300px;

    &__cirkelTop {
      height: 36px;

      &__orange {
        top: 0;
        left: 177px;
        width: 70px;
        height: 70px;
      }
    }
  }

  .logo__text {
    font-size: 1.5rem;
    top: 32px;
    left: 51%;

    &__dot {
      font-size: 1.4rem;
      top: -7px;
    }
  }

  .logo__cirkelBottom {
    height: 35px;
  }
}

@mixin logo--ms {
  // 600
  .logo {
    margin: 0 0 4rem 1rem;
  }

  .logo__text {
    left: 170px;

    &__dot {
      font-size: 1.5rem;
    }
  }
}
