main {
    margin: 12rem 0 0 0;
    text-align: center;

    h2 {
        font-size: 1.8rem;
        padding: 9rem 0 1.5rem 0;
    }

    p {
        font-size: 1.2rem;
        text-align: left;
        display: block;
        margin: 0 2rem 2rem 2rem;
        max-width: 600px;
    }

    form {
        text-align: left;
        margin: 0 2rem 3rem 2rem;
        display: block;
        
        h2 {
            text-align: center;
            margin: 4rem 0 0 0;
        }

        fieldset {
            border: none;
        }

        label {
            display: none;
        }

        input {
            display: block;
            border-bottom: 1px solid $blackColor;
            margin: 0 0 1.5rem 0;
            padding: 0 0 0.2rem 0;
            width: 100%;

            &:focus {
                outline: none;
            }
        }

        ::placeholder {
            font-size: 0.9rem;
            font-weight: 400;
            color: $whiteColor;
            // color: lighten($blackColor, 40%);
            text-transform: uppercase;
        }

        textarea {
            resize: none;
            width: 100%;
            border-bottom: 1px solid $blackColor;

            &:focus {
                outline: none;
            }
        }

        input[type=submit] {
            font-family: $fontRaleway;
            font-size: 0.8rem;
            font-weight: 700;
            text-transform: uppercase;
            border: none;
            margin: 2rem auto;
            padding: 1rem;
            background-color: $yellowColor;
            width: initial;
            border: 2px solid $yellowColor;
            border-radius: 5px;
            cursor: pointer;
            transition: 1.2s;

            &:hover {
                background-color: $blackColor;
                color: $whiteColor;
                transform: all;
            }
        }
    }
}

@mixin main--600 {
    article {

        h2 {
            font-size: 2rem;
            padding: 5rem 0 1.5rem 0;
        }

        p {
            margin: 0 auto;
            width: 550px;
            // max-width: 600px;
        }
    }

    main {

        form {
            display: block;
            margin: 0 auto 3rem auto;
            width: 550px;
            // max-width: 600px;
        }
    }
}