#mlb2-3804607.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedSubmit,
#mlb2-3804607.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-fieldRow input,
#mlb2-3804607.ml-form-embedContainer .ml-form-embedWrapper .ml-block-form .ml-field-group label {
  text-align: left;
}

#mlb2-3804607.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-checkboxRow label p:last-child {
  font-family: $fontRaleway !important;
  font-size: 0.9rem !important;
}

#mlb2-3804607.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedSubmit button {
  max-width: 200px !important;
  height: 80px !important;
  border: 4px solid $orangeColor !important;

  &:hover,
  &:focus {
    background-color: $orangeColor;
    box-shadow: 15px 12px 12px -17px rgba(0, 0, 0, 0.25), -17px -13px 12px -17px rgba(0, 0, 0, 0.25);
    transition: background-color 800ms, box-shadow 800ms;
  }

  &:active {
    transform: translateY(2px);
  }
}

@mixin mailinglist--ms {
  #mlb2-3804607.ml-form-embedContainer .ml-form-embedWrapper.embedForm {
    max-width: 800px !important;
  }

  #mlb2-3804607.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedSubmit {
    float: none !important;
    text-align: right;
  }
}
