.testimonial {
  // border-top: 1px solid $blackColor;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin: 8rem 0 4rem 0;

  &__card {
    display: grid;
    grid-template-rows: 100px 150px;
    width: 200px;
    border: 2px solid $orangeColor;
    border-radius: 5px;

    // background-color: $greyColor;
    color: $blackColor;
    text-decoration: none;

    padding: 0.5rem;
    margin: 1rem;

    img {
      width: 90%;
      align-self: center;
      justify-self: center;
    }

    &:hover,
    &:focus {
      background-color: $orangeColor;
      border: 2px solid $blackColor;
    }

    &:active {
      transform: translateY(2px);
    }
  }
}

@mixin testimonial--ms { // 600
  .testimonial {
    margin: 12rem 0 6rem 0;
  }
}

@mixin testimonial--m { // 768
  .testimonial {
    // margin: 12rem 0 2rem 0;
  }
}
