//primary colors
$orangeColor: rgb(243, 146, 0);
$yellowColor: rgb(255, 231, 85);
$yellowColorLight: rgba(251, 237, 144, 0.2);
$blackColor: 	rgb(2, 2, 2);
$whiteColor: 	rgb(251, 248, 248);
$greyColor: lighten($blackColor, 50%);


// fonts:
$fontLogo: 'Poppins', Arial, Helvetica, sans-serif;
$fontRaleway: 'Raleway', Arial, Helvetica, sans-serif; 



