doctype html
html(lang="nl")
    block head
        head
            meta(charset="UTF-8") 
            meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0, user-scalable=yes") 
            meta(http-equiv="X-UA-Compatible" content="ie=edge")
            meta(name="robots" content="all")
            meta(name="Description" content="De Vlinderfabriek wil kinderen en jongeren het creatieve & grenzeloze van theater laten ontdekken.")
            meta(name="copyright" content="Copyright Webdesignpuntnl Culemborg")
            link(rel="apple-touch-icon" sizes="76x76" href="../httpdocs/apple-touch-icon.png")
            link(rel="icon" type="image/png" sizes="32x32" href="../httpdocs/favicon-32x32.png")
            link(rel="icon" type="image/png" sizes="16x16" href="../httpdocs/favicon-16x16.png")
            link(rel="manifest" href="../httpdocs/site.webmanifest")
            link(rel="mask-icon" href="../httpdocs/safari-pinned-tab.svg" color="#5bbad5")
            meta(name="msapplication-TileColor" content="#ffc40d")
            meta(name="theme-color" content="#ffffff") 
            meta(property="og:title" content="Vlinderfabriek")
            meta(property="og:description" content="Jeugdtheater en workshops voor scholen, kinderen en volwassenen")
            meta(property="og:type" content="theater eduactie")
            meta(property="og:url" content="https://www.vlinderfabriek.nl")
            meta(property="og:image" content="http://www.vlinderfabriek.nl/images/fabriek-bluep.svg")         
            
            title #{title} 
            base(href="/error_docs/") 
    body
        div(class="pageWrapper" id="backToTop")
            block header
                header
                    div
                        a(href="../index.html" class="header__link")
                            object(type="image/svg+xml", data="../images/fabriek-blue.svg" class="header__logo")
                                //- img(src="images/fabriek-blue.svg" alt="logo" class="header__logo")
                        a(href="../index.html")
                            img(src="../images/woordlogo.png" alt="logo" class="header__wordlogo")
                    block navigation
                        nav
                            ul(class="butterflys")
                                li
                                    a(href="../pages/verdieping.html")
                                        img(src="../images/vlinder-groen-outline.png" alt="verdieping")
                                        span verdieping
                                li
                                    a(href="../pages/lesaanbod.html")
                                        img(src="../images/vlinder-rood-outline.png" alt="lesaanbod")
                                        span lesaanbod
                                li
                                    a(href="../pages/op-school.html")
                                        img(src="../images/vlinder-oranje-outline.png" alt="op School")
                                        span op school
                                li
                                    a(href="../index.html")
                                        img(src="../images/vlinder-blauw-outline.png" alt="home")
                                        span home
                            block buttons 
                                ul(class="buttons buttons--blue")
                                    li
                                        a(href="../index.html" title="nieuws") nieuws 
                                    li
                                        a(href="../pages/over-ons.html" title="over ons") over ons
                                    li
                                        a(href="../pages/wie-zijn-wij.html" title="wij zijn wij") wij zijn wij
                                    li
                                        a(href="../pages/contact.html" title="contact") contact
                                    li
                                        a(href="../pages/achter-de-schermen.html" title="bestuur") bestuur
                                    li
                                        a(href="../pages/privacy.html" title="privacy") privacy
            block content
        block footer
            footer(class=`footer footer--${color}`)
                a(class="footer__link" href="#backToTop")
                    img(class="footer__link__arrow" src=`../images/pijl-terug-${color}.png` alt="klik voor terug omhoog" title="klik voor terug omhoog")
                a(class="footer__link" href="https://www.facebook.com/De-Vlinderfabriek-365229100205779/" target="_blank")
                    img(class="footer__link__facebookLogo" src="../images/logo-facebook-normal.svg" alt="facebook" title="facebook")
                a(class="footer__link footer__link__copyright" href="https://www.webdesignpuntnl.com") &copy; Webdesignpuntnl   
                a(class="footer__link footer__link__cookieSetup" href="#" id="noat-cookie-consent__setup") cookie instellingen   

