extends ../layout/layout
include ../mixins/blogNav

block prepend head
    - var page = "cli"
    - var title = "Command Line Interface"
    - var description = "Werken in de commandline is meestal sneller dan in een GUI"
    - var path = "../"

block content
  +blogNav(page)
  //- Command Line Interface
  article(class="article article--blog")     
    div.align
      h2.h2.h2--blog Command Line Interface
      p(class="p p__left p__left--blog") 
        strong.p__firstWord  Elke 
        | dag gebruiken we software om onze zaken te regelen op de computer. Of we nou Windows, Apple of Words gebruiken, ze hebben allemaal 1 ding gemeen, het zijn Grafische tools om bepaalde zaken op een computer te kunnen doen. In het Engels wordt dit 
        abbr(title="Graphical User Iinterface" lang="en") GUI
        |  genoemd, Graphical User Interface. Deze interface's zorg ervoor dat we dingen kunnen doen met een computer zonder dat we veel lastige commando's hoeven te kennen of te onthouden. Programmeurs en developers gebruiken deze interface's niet graag, wij gebruiken de Command Line. Dit is een venster waarin je heel direct met de computer kunt communiceren. In Windows is dit een saai blauw of zwart scherm. Het enige wat je (in de Windows Command Line) ziet is C&colon;\Users\Jan\&gt;
      p(class="p p__left p__left--blog") 
        | Deze 
        abbr(title="Command Line Interface" lang="en") CLI
        | (afgekort) zorgt ervoor dat je met hele korte commando's heel snel kunt werken. Je kunt navigeren, mappen en bestanden aanmaken, verplaatsen en verwijderen. 
      p(class="p p__left p__left--blog") 
        | Als je in de Verkenner van Windows een map wilt aanmaken met 1 nieuw bestand er in dan moet je aardig wat stappen doorlopen.
      div(class="p p__left p__left--blog")
        ol.ol.ol--blog
          li Open verkenner
          li Ga naar de juiste map
          li maak een map aan
          li geef de map een naam
          li open Word
          li navigeer naar de juiste map
          li sla het bestand op
      p(class="p p__left p__left--blog") 
        | Grofweg heb  je zeven stappen nodig om een map en een bestand aan te maken. In de 
        abbr(title="Command Line Interface" lang="en") CLI 
        | doe ik het volgende:
        | cd files &amp;&amp; mkdir test &amp;&amp; cd test &amp;&amp; touch text.txt
      p(class="p p__left p__left--blog")
        | Ik ben nu naar de directory files gegaan, heb de directory test aangemaakt en daarin een tekst bestand gemaakt met de naam text.txt. Allemaal met 1 lijn commando's. Ik kan dit zelfs automatiseren met functies zodat het nog korter zou kunnen.
      p(class="p p__left p__left--blog")
        | Kenmerkend voor de 
        abbr(title="Command Line Interface" lang="en") CLI
        |  is dat de commando's hele korte afkortingen zijn. Naar een andere directory gaan doe je met cd: change directory. Een directory maken doe je met mkdir&colon; make directory. wil je een bestand aanmaken dan doe je dat met touch. Wil je een bestand of directory verplaatsen dan gebruik je mv&colon; move.
      p(class="p p__left p__left--blog")
        | Ik kan nu in 1 keer heel veel mappen aanmaken voor bijvoorbeeld een website&colon; mkdir images css javascript html. Als ik op enter druk worden deze allemaal aangemaakt. Ook subdirectories kun je zo aanmaken. Met mkdir html/pages maak ik de map pages aan in de map html.
      p(class="p p__left p__left--blog")
        | Dit geldt ook voor bestanden. Stel ik wil de map pages vullen met html bestanden. Ik ga naar de pages directory en type touch page1.html page2.html page3.html page4.html, als ik op enter druk heb ik dus 4 lege html pagina's gemaakt. Wil je sneller kunnen werken als je websites bouwt probeer dan eens of je Command Line iets voor je is, het kost enige tijd om de commando's te leren maar als je eenmaal bekend bent de 
        abbr(title="Command Line Interface" lang="en") CLI
        |  dan wil je niet anders meer.
      p(class="p p__left p__left--blog") 
        span(class="span__date") Gepubliceerd op 28 april 2020 door Renee de Kruijf 
        a(href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="small" data-via="reneedekruijf" data-hashtags="cli" data-show-count="false") Tweet
  

block script
  script(async src="https://platform.twitter.com/widgets.js" charset="utf-8")
  script(src=`${path}js/main-bundle.js`)
  script(async src="https://www.googletagmanager.com/gtag/js?id=UA-63079670-2")
  script
    | window.dataLayer = window.dataLayer || [];
    | function gtag(){dataLayer.push(arguments);}
    | gtag('js', new Date());
    | gtag('config', 'UA-63079670-2', { 'anonymize_ip': true });