extends ../layout/layout
include ../mixins/blogNav

block prepend head
    - var page = "cssScan"
    - var title = "cssscan"
    - var description = "Cssscan is een browser extensie waarme je CCS van een item kunt bekijken"
    - var path = "../"

block content
  +blogNav(page)
  //-  css scan
  article(class="article article--blog" id="cssscan") 
    div.align
      h2.h2.h2--blog cssscan - een browser extensie voor css stijlen
      p(class="p p__left p__left--blog" ) 
        strong.p__firstWord cssscan
        | is een browser extensie waarme je devtools minder snel hoeft te gebruiken om de CCS stijlen van een item op een webpagina te bekijken. 
        a(href="https://getcssscan.com/"   class="link") Cssscan
        |  geeft je de mogelijkheid om over elk item van een pagina te hoveren, de stijlen verschijnen dan in een kader en met een klik kopieer je ze naar het klembord. Je kan de stijlen dan direct in je stijlsheet plakken en gebruiken.
      p(class="p p__left p__left--blog")
        img(src="../images/cssscan-screenshot.png" class="blog__image blog__image--cssscan" alt="css screenshot" title="Screenshot van cssscan")
        | Als je de extensie activeert dan krijg je een balkje met wat menuopties. Voor de positie van het balkje kan je kiezen uit boven- of onder in de browser. Er zijn knoppen om  
        a(href="https://getcssscan.com/"   class="link" class="link") cssscan
        |  te pauseren of helemaal te sluiten. 
        a(href="https://getcssscan.com/"   class="link") Cssscan
        |  is te ook te bedienen met keywboard shortcuts. Er is een knop voor feedback en er is een knop voor enkele opties. Zo kun bijvoorbeeld ook de hoverstijlen kopieren of nesten voor SASS of LESS en je kan er voor kiezen om een grid over de pagina te plaatsen.
        | Ik gebruik 
        a(href="https://getcssscan.com/"   class="link") cssscan
        |  nu enige tijd. Als ik op een mooie site kom dan is het heel handig om even snel wat stijlen te checken. Het is nog geen gewoonte om 
        a(href="https://getcssscan.com/"   class="link") cssscan
        |  tijdens het developen te gebruiken. Ben nog iets te veel aan de devtools gewend. Maar als je even snel wat stijlen wilt knippen en plakken dan is het zeker geweldig. 
        a(href="https://getcssscan.com/"   class="link") Cssscan
        |  is te krijgen als extensie voor Chrome en Firefox. Safari is op dit moment in de maak.
      p(class="p p__left p__left--blog")
        a(href="https://getcssscan.com/"   class="link") Cssscan
        |  is niet gratis. De normale prijs is &dollar; 29.99. 
        a(href="https://getcssscan.com/"   class="link") cssscan
        |  is echter vaak in de aanbieding.
        span(class="span__date") Gepubliceerd op 24 mei 2019 door Renee de Kruijf
        a(href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="small" data-via="reneedekruijf" data-hashtags="cssscan" data-show-count="false") Tweet
      a(href="https://getcssscan.com/"  )
        img(src="../images/cssscan-logo.png" class="tools__image tools__image--blog" alt="cssscan logo")

block script
  script(async src="https://platform.twitter.com/widgets.js" charset="utf-8")
  script(src=`${path}js/main-bundle.js`)
  script(async src="https://www.googletagmanager.com/gtag/js?id=UA-63079670-2")
  script
    | window.dataLayer = window.dataLayer || [];
    | function gtag(){dataLayer.push(arguments);}
    | gtag('js', new Date());
    | gtag('config', 'UA-63079670-2', { 'anonymize_ip': true });