extends ../layout/layout

block prepend header
    - var page = "about"
    - var path = "../"

block content
  article
    h2 over
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia saepe nobis ipsum, id officia animi amet consectetur ab maxime corrupti officiis similique facilis aperiam obcaecati consequatur sit illo cum natus!
