extends ../layout/layout
include ../mixins/blogNav

block prepend head
    - var page = "blog"
    - var title = "blog over alles en nog wat over bouwen voor het www"
    - var description = "Webdesignpuntnl houdt een blog bij. Hier schrijven we over alles wat met het web te maken heeft."
    - var path = "../"

block content
  section(class="section__blog")
    //- a(href="blog-english.html" title="english flag" class="blog__flag") 
      img(src="../images/flag-english.svg", alt="english flag")
    //- a(class="twitter-follow-button" href="https://twitter.com/reneedekruijf") Follow
    h2(class="h2") blog
    p(class="p") Deze blog gaat over allerhande onderwerpen die te maken hebben met het bouwen van websites maar met name over de toegankelijkheid van websites en het internet. Niet iedereen is hetzelfde en we surfen allemaal op onze eigen manier op het internet. Of we nou een muis gebruiken, een screenreader of een brailleregel we moet allemaal de informatie kunnen raadplgen die we zoeken of nodig hebben. Daar gaat deze blog met name over. Soms maak ik wel eens een uitstapje naar een technisch onderwerp (vind ik gewoon leuk) maar meestal wil ik mensen bewust proberen te maken de een toegankelijk en gebruiksvriendelijk internet een noodzaak is voor ons allemaal.
  +blogNav
  //- opslag  
  article(class="article article--blog")     
    div.align
      h2.h2.h2--blog Cookies enzo...
      p(class="p p__left p__left--blog") 
        strong.p__firstWord Iedereen
        | die wel eens rondsurft op het internet weet dat websites cookies gebruiken. Vaak krijg je hier een melding voor van de website. Wat doen cookies nou eigenlijk en zijn ze echt nodig?
      p(class="p p__left p__left--blog")
        | Een cookie wordt gebruikt om informatie op te slaan, het is niets meer dan een tekst bestand met data. Wat staat er zoal in een cookie? Waar het heel vaak voor wordt gebruikt is om een keuze van de bezoeker in op te slaan. Als je, bijvoorbeeld,  inlogt op een website dan kun je vaak aangeven of je ingelogd wilt blijven, deze keuze wordt opgeslagen in een cookie. Deze cookie wordt opgeslagen op je harde schijf maar ook op de server waar de website op staat. 
      p(class="p p__left p__left--blog")
        | We weten natuurlijk allemaal dat er ook cookies zijn die je kunnen volgen. Grote bedrijven slaan informatie op in cookies om je surf- of koopgedrag te volgen. Daar moet je dan wel toestemming voor geven door middel van een cookiebanner. Doordat deze cookies op je harde schijf staan en op de server van het bedrijf kunnen ze je dus blijven volgen en je op deze manier bepaalde producten aanbieden. 
      p(class="p p__left p__left--blog")
        | In een cookie kun je ook opslaan hoe lang deze houdbaar moet zijn. Je hebt misschien wel eens gemerkt dat je lange tijd een website kunt bezoeken zonder in te hoeven loggen maar dan wordt er opeens weer gevraagd om in te loggen? Dit komt omdat het cookie dan verlopen is. Door nu weer in te loggen en aan te geven dat je ingelogd wilt blijven maak je het cookie opnieuw aan en hoef je volgende keer niet meer in te loggen.
      h3.h3.h3--blog Ander opties voor opslag (technisch!)
      p(class="p p__left p__left--blog")
        | Bouwers van website moeten soms data opslaan. Bijvoorbeeld de items in je winkelwagen. Meestal wordt hier een database voor gebruikt, er zijn eindeloos veel manieren om data op te slaan. Ook lokaal (in de browser) zijn hier mogelijkheden voor. 
      p(class="p p__left p__left--blog")
        | Stel je geeft de bezoekr de optie om te kiezen voor een website in darkmode en je wilt deze keuze bewaren zodat iedere keer wanneer de bezoeker op de site terug komt deze in darkmode staat tot de gebruiker zelf kiest om dit uit te zetten. Deze kezue kun je lokaal opslaan. Dit kan door middel van een cookie.
      p(class="p p__left p__left--blog")
        | Je kunt ook gebruik maken van localStorage, sessionStorage of  IndexedDB. Alle 3 de technieken zitten in de browser.
      p(class="p p__left p__left--blog")
        | LocalStorage en sessionStorage werken hetzelfde, alleen als je iets opslaat in localStorage dan blijft de data altijd aanwezig ook als je de browser of tab afsluit en weer opent. Bij sessionStorage verdwijnt de data als de tab of de browser afgesloten wordt. LocalStorage is het meest populair en makkelijk te gebruiken. Data in localStorage wordt nooit met de server gedeeld en je kunt er ongeveer 5mb aan data mee opslaan. Het is wel zo dat werken met localStorage synchroon is. Dus het blokkeert de hoofdprocessen.
      p(class="p p__left p__left--blog")
        | IndexedDB is een moderne techniek waarmee je grote hoeveelheden data kunt opslaan, zelfs bestanden. Data met IndexedDB is makkelijk te doorzoeken maar je hebt er meer code voor nodig, het is lastiger om te leren en lastiger in het gebruik. Ook deze data wordt lokaal opgeslagen en niet met de server gedeeld.
      p(class="p p__left p__left--blog")
        | Dus als je op een makkelijke manier wat gegevens lokaal wilt opslaan dan is localStorage meestal het snelst en het meest handig.
      p(class="p p__left p__left--blog")
        span(class="span__date") Gepubliceerd op 28 oktober 2020 door Renee de Kruijf 
        a(href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="small" data-via="reneedekruijf" data-hashtags="opslag" data-show-count="false") Tweet
block script
  script(async src="https://platform.twitter.com/widgets.js" charset="utf-8")
  script(src=`${path}js/main-bundle.js`)
  script(async src="https://www.googletagmanager.com/gtag/js?id=UA-63079670-2")
  script
    | window.dataLayer = window.dataLayer || [];
    | function gtag(){dataLayer.push(arguments);}
    | gtag('js', new Date());
    | gtag('config', 'UA-63079670-2', { 'anonymize_ip': true });