extends ../layout/layout
include ../mixins/blogNav

block prepend head
    - var page = "blog"
    - var title = "blog over alles en nog wat over bouwen voor het www"
    - var description = "Webdesignpuntnl houdt een blog bij. Hier schrijven we over alles wat met het web te maken heeft."
    - var path = "../"

block content
  section(class="section__blog")
    //- a(href="blog-english.html" title="english flag" class="blog__flag") 
      img(src="../images/flag-english.svg", alt="english flag")
    //- a(class="twitter-follow-button" href="https://twitter.com/reneedekruijf") Follow
    h2(class="h2") blog
    p(class="p") Deze blog gaat over allerhande onderwerpen die te maken hebben met het bouwen van websites maar met name over de toegankelijkheid van websites en het internet. Niet iedereen is hetzelfde en we surfen allemaal op onze eigen manier op het internet. Of we nou een muis gebruiken, een screenreader of een brailleregel we moet allemaal de informatie kunnen raadplgen die we zoeken of nodig hebben. Daar gaat deze blog met name over. Soms maak ik wel eens een uitstapje naar een technisch onderwerp (vind ik gewoon leuk) maar meestal wil ik mensen bewust proberen te maken de een toegankelijk en gebruiksvriendelijk internet een noodzaak is voor ons allemaal.
  +blogNav
  //- wcag 2.2 criteria  
  article(class="article article--blog")     
    div.align
      h2.h2.h2--blog Nieuw in WCAG 2.2
      p(class="p p__left p__left--blog") 
        strong.p__firstWord De
        a(href="https://www.w3.org/WAI/standards-guidelines/wcag/") WCAG (Web Content Accessibility Guidelines) 
        |  wordt opgesteld door het 
        a(href="http://w3.org/") W3C (World Wide Web Consortium) 
        |  en heeft als doel een internationale standaard op te stellen om het internet toegankelijk te maken voor iedereen. Zo nu en dan veranderen er regels of komen er nieuwe bij.
      p(class="p p__left p__left--blog")
        | Op 27 februari 2020 kwam de working draft WCAG 2.2 uit. Het W3C vraag om op- en aanmerkingen op de nieuwe versie. Dit kun je doen op 
        a(href="https://www.w3.org/blog/2020/08/wcag22-wide-review/") WCAG2.2 draft for review
        |   tot 18 september.
      p(class="p p__left p__left--blog")
        | Het is eigenlijk een uitbreiding van de WCAG 2.1 en is qua structuur en opbouw hetzelfde. Als je WCAG 2.2 gebruikt dan voldoe je ook meteen aan de versies 2.0 en 2.1.
        Er wordt steeds meer gebruik gemaakt van het internet op mobiele apparaten, om er voor te zorgen dat iedereen een prettige gebruikerservaring heeft op mobiele apparaten zijn deze aanpassingen nodig.

      p(class="p p__left p__left--blog")
        | Onderstaande is vrij vertaald naar het Nederlands. Via de links kun je de Engelse uitleg lezen.
      h3.h3.h3--blog Wat is er nieuw of aangepast?            
      p(class="p p__left p__left--blog")
        a(href="https://www.w3.org/TR/2020/WD-WCAG22-20200811/#focus-visible") 2.4.7 Focus Visible (level A)
      p(class="p p__left p__left--blog")
        | Elke interface die met een toetsenbord is te bedienen moet een zichtbare focus hebben. Dus als je met het toetsenbord navigeert dan moet je kunnen zien wat er actief is. Meestal is dit een duidelijk zichtbaar kader om het element heen. Het mag ook iets anders zijn als het maar duidelijk en zichtbaar is.
      p(class="p p__left p__left--blog")
        | Dit criterium is verandert van level AA naar level A.
      p(class="p p__left p__left--blog")
        | Hoe zat het ook alweer met de levels? Level A is vrij makkelijk te realiseren en level AAA moeilijk. Level AAA is gericht op een zeer kleine groep gebruikers met een functiebeperking. Voor overheidsinstellingen in Nederland geldt dat zij minimaal aan level AA moeten voldoen.
      p(class="p p__left p__left--blog")
        | Voor dit criterium geldt dan dat dit een minimum vereiste is in elke interface die met een toetsenbord te navigeren is.       
      p(class="p p__left p__left--blog")
        a(href="https://www.w3.org/TR/2020/WD-WCAG22-20200811/#fixed-reference-points") 2.4.13 Fixed Reference Points (Level A)
      p(class="p p__left p__left--blog")
        | Wanneer een 
        a(href="https://www.w3.org/TR/2020/WD-WCAG22-20200811/#dfn-web-page-s") web pagina
        |  of een 
        a(href="https://www.w3.org/TR/2020/WD-WCAG22-20200811/#dfn-set-of-web-pages") set van web pagina's
        |  een 
        a(href="https://www.w3.org/TR/2020/WD-WCAG22-20200811/#dfn-electronic-publications") elektronische publicatie
        |  is / zijn met 
        a(href="https://www.w3.org/TR/2020/WD-WCAG22-20200811/#dfn-pagebreak-locator") navigatie punten
        |  dan moet er een manier zijn om naar ieder punt te kunnen navigeren en ieder punt moet op dezelfde plaats blijven in de flow van het document zelfs wanneer de opmaak of het platform verandert.
      p(class="p p__left p__left--blog")
        | Met elektronische publicatie wordt bedoeld: content die bestaat als een collectie of als gerelateerde artikelen, documenten in de vorm van een boek, tekstboek, artikelen in een tijdschrift, een tijdschift, een los artikel met verschillende pagina's, een wetenschappelijk artikel of een krantenartikel in een digitaal formaat.
      p(class="p p__left p__left--blog")
        | Met navigatiepunten wordt bedoeld: visuele of geprogrammeerde markeringen die in een logische volgorde staan om de locatie van een pagina te bepalen in relatie tot anderen in een set pagina's. 
      p(class="p p__left p__left--blog")
        | Dus als je een fysiek artikel uit een tijdschrift omzet naar een digitaal medium dan moet je de paginanummering handhaven en je moet gemakkelijk naar de verschillende pagina's kunnen navigeren.
      p(class="p p__left p__left--blog")
        span(class="span__date") Gepubliceerd op 23 augustus 2020 door Renee de Kruijf 
        a(href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="small" data-via="reneedekruijf" data-hashtags="wcag22" data-show-count="false") Tweet
block script
  script(async src="https://platform.twitter.com/widgets.js" charset="utf-8")
  script(src=`${path}js/main-bundle.js`)
  script(async src="https://www.googletagmanager.com/gtag/js?id=UA-63079670-2")
  script
    | window.dataLayer = window.dataLayer || [];
    | function gtag(){dataLayer.push(arguments);}
    | gtag('js', new Date());
    | gtag('config', 'UA-63079670-2', { 'anonymize_ip': true });