extends ../layout/layout

block prepend head
    - var page = ""
    - var title = "contactformulier"
    - var description = "neem contact met ons op voor een afpraak, vragen of opmerkingen"
    - var path = "../"

block content
  article(class="article")
    h2(class="h2") contact aanvraag niet ontvangen
    p(class="p p--contactForm") Helaas er is iets mis gegaan! Probeer het nogmaals of neem op andere wijze contact met ons op!
block script
    script(src=`${path}js/contactForm-bundle.js`)
    script(src=`${path}js/main-bundle.js`)


