extends ../layout/layout

block prepend head
    - var page = ""
    - var title = "gelukt het formulier is verzonden"
    - var description = "neem contact met ons op voor een afspraak, vragen of opmerkingen"
    - var path = "../"

block content
  section.alignsection.align
    h2(class="h2 error__h2") Gefeliciteerd uw post is op de bus!
    img(src="../images/mail.svg" class="error__image" alt="")
    p(class="p error__p") 
      | Wij nemen contact met uw op zodra wij de post hebben geopend en gelezen!
block script
    //- script(src=`${path}js/contactForm-bundle.js`)
    script(src=`${path}js/main-bundle.js`)


