extends ../layout/layout

block prepend head
    - var page = "diensten"
    - var title = "diensten op het gebied van toegankelijkheid"
    - var description = "Gespecialiseerd in toegankelijk bouwen, testen en adviseren"
    - var path = "../"

block content
    article(class="article")
    h2(class="h2 h2--index") voor een toegankelijke internet
    section.align
        h3.h3--right Mensen met een beperking
        p(class="p p__right p__right--index")
            strong.p__firstWord 25%
            | van de Nederlandse bevolking heeft een beperking, dit kan zowel lichamelijk als geestelijk zijn. Voor sommigen kan dit betekenen dat ze hulpmiddelen nodig hebben om bepaalde basistaken uit te voeren. Het internet is voor veel mensen met een beperking een terugkerende uitdaging. Het internet is niet meer weg te denken uit ons dagelijkse leven, een rijbewijs aanvragen of even iets opzoeken gebeurt voornamelijk nog online. Als een website alleen maar bedient kan worden met een muis en niet met het toetsenbord dan wordt  een grote groep mensen uitgesloten. Of er is alleen een telefoonnummer op de website en geen contact-formulier, voor iemand die doof is wordt het een enorme opgave om contact op te nemen met dit bedrijf. Gelukkig zijn er richtlijen om een website toegankelijk te maken zodat iedereen er gebruik van kan maken. In Nederland maken we gebruik van richtlijnen die opgesteld zijn door het
            a(href="http://w3.org/") W3C (World Wide Web Consortium).
            |  Deze richtlijnen staan in de 
            a(href="https://www.w3.org/WAI/standards-guidelines/wcag/") WCAG (Web Content Accessibility Guidelines).
            |  Wil je meer weten over deze richtlijnen? 
            a(href="wcag.html") Lees dan deze blog over de WCAG.
        img(src="../images/technology.svg" class="index__image right" alt="" loading="lazy" role="img")
    section.align
        h3.h3--left Quickscan toegankelijkheid
        p(class="p p__left p__left--index") 
            strong.p__firstWord De Quickscan
            | is een compacte test waarbij er op een paar belangrijke richtlijnen gecontroleerd wordt of een website te gebruiken is met andere middelen dan een muis en een scherm. Deze test is niet bedoeld om op alle richtlijnen te controleren. Het geeft wel een goede indicatie of de website in de basis toegankelijk is. Er worden 3 pagina's getest op 6 verschillende punten. 2 van de drie pagina's zijn altijd de homepage en de contactpagina, de derde wordt in overleg bepaald. Er wordt ondermeer gecontroleerd of het mogelijk is om te navigeren met het toetsenbord, of er een goede beschrijving is van de afbeeldingen en er wordt naar de contrasten gekeken tussen teksten en achtergronden. Er volgt een kort testrapport met de bevindingen.
            span.nextLine.nextLine--cost 
                | Kosten &euro; 275
            span.nextLine--cost
                a(href="contact.html") Maak een afspraak voor de Quickscan
        img(src="../images/mechanic.svg" class="index__image left" alt="" loading="lazy") 
    section.alignsection.align
        h3.h3--right Onderzoek toegankelijkheid
        p(class="p p__right p__right--index") 
            strong.p__firstWord  Het onderzoek
            | is een complete test van alle richtlijnen. Via een steekproef worden er 6 pagina's geselecteerd die volgens een stappenplan worden getest. De homepagina en de contactpagina worden altijd getest. Er wordt getest aan de hand van de richtlijnen van de 
            a(href="wcag.html") WCAG2.1 (Web Content Accessibility Guidelines).
            |  Door deze test ontstaat er een compleet beeld van de toegankelijkheid van de webisite. Uit het rapport zal duidelijk  worden welke punten er goed zijn en welke punten nog aandacht nodig hebben. Het rapport benoemt de verbeterpunten maar geeft geen oplossingen. Het onderzoek is vooral bedoelt voor bedrijven die de website in eigen beheer hebben en de verbeterpunten zelf kunnen uitvoeren.
            span.nextLine.nextLine--cost 
                | Kosten &euro; 750
            span.nextLine--cost
                a(href="contact.html") Maak een afspraak voor het Onderzoek
        img(src="../images/web-design.svg" class="index__image right" alt="" loading="lazy")
    section.align
        h3.h3--left Audit
        p(class="p p__left p__left--index") 
            strong.p__firstWord De Audit
            | is de meest complete optie. Alles is hetzelfde als bij het onderzoek er wordt ook nu getest volgens de richtlijnen voor toegankelijkheid zoals de WCAG voorschrijf, er worden 6 pagina's getest waaronder de homepagina en de contactpagina en er wordt natuurlijk ook bij de Aditgetest aan de hand van de richtlijnen van de 
            a(href="wcag.html") WCAG2.1 (Web Content Accessibility Guidelines). 
            | Bij de Audit staan er in het rapport ook voorbeelden en opties (HTML, CSS, Javscript) om bepaalde onderdelen toegankelijk(er) te kunnen maken.
            span.nextLine.nextLine--cost 
                | Kosten &euro; 1250
            span.nextLine--cost
                a(href="contact.html") Maak een afspraak voor de Audit
        img(src="../images/recommendations.svg" class="index__image right" alt="" loading="lazy")
    section.align
        h3.h3--right Advies toegankelijkheid
        p(class="p p__right p__right--index") 
            strong.p__firstWord Adviseren
            | Al bij het eerste idee voor een nieuwe website is het verstandig om rekening te houden met de toegankelijkheid. Het is gemakkelijker en goedkoper om meteen met toegankelijkheid aan de slag te gaan. Ook in de stappen daarna zal er rekening met toegankelijkheid gehouden moeten worden. Denk hierbij aan het ontwerpen en het uiteindelijke bouwen van de website. Maar ook als de website klaar is stopt toegankelijkheid niet. Iedere keer als er een afbeelding of een tekst op de website wordt gezet dan komt toegankelijkheid om de hoek kijken. 
            span.nextLine.nextLine--cost 
                | Kosten op aanvraag
            span.nextLine--cost
                a(href="contact.html") Maak een afspraak
        img(src="../images/advice.svg" class="index__image left" alt="" loading="lazy")