extends ../layout/layout
include ../mixins/blogNav

block prepend head
    - var page = "digitoegankelijk"
    - var title = "digitoegankelijk"
    - var description = "Toegankelijkheid wil zeggen dat iedereen aan alles mag en kan meedoen."
    - var path = "../"

block content
  +blogNav(page)
  //- :digitoegankelijk
  article(class="article article--blog")     
    div.align
      h2.h2.h2--blog Toegankelijkheid
      p(class="p p__left p__left--blog" ) 
        strong.p__firstWord Toegankelijkheid
        | wil zeggen dat iedereen aan alles mag en kan meedoen. Ongacht ras, geloof en handicap. Als je in een rolstoel zit wil je ook in een restaurant naar binnen kunnen of in een bus. Dit geldt ook voor comupters en het internet. Dit noemen we digitoegankelijkheid. Voor websites van de (semi-)overheid is dit al sinds 1 juli 2018 verplicht. Websites van moeten voor iedereen toegankelijk zijn. Als dit niet zo is dan sluit je bepaalde mensen buiten. Eigenlijk moeten alle websites digitoegankelijk zijn. Op 14 juli 2016 trad het VN-verdrag voor de rechten van mensen met een beperking in werking. Om aan de eisen in dit verdrag te voldoen is de Wet gelijke behandeling op grond van handicap en chronische ziekte aangepast. De wet is nu ook van toepassing op digitaal aangeboden goederen en diensten van bedrijven en overheden. Voor meer informatie over regels en wetten kun je kijken bij 
        a(href="https://www.digitoegankelijk.nl/"   class="link") digitoegankelijk.
        | Voor bedrijven is het ook een goed idee om te zorgen voor een toegankelijk site. Als je bepaalde groepen (lees klanten) uitsluit doordat je website niet toegankelijk is dan loop je gewoon klanten mis.
      p(class="p p__left p__left--blog")
        img(src="../images/toegankelijkheid.jpg" class="blog__image blog__image--gitTop" alt="voorbeeld van een toegankelijke site" title="voorbeeld van een toegankelijke site")        
        | Een voorbeeld van hoe een site bruikbaar kan zijn voor iedereen. De  
        a(href="https://weekvandetoegankelijkheid.nl/"   class="link") website
        |  waar dit balkje wordt gebruikt ziet er aantrekkelijk genoeg uit voor mensen zonder handicap maar mensen met een handicap kunnen de site aanpassen door dit balkje te gebruiken. De tekstgrootte kan worden aangepast, de kleuren, het contrast en de tekst kan zelfs voor worden gelezen. Natuurlijk is het ook mogelijk om een site te maken die in het ontwerp al rekening houdt met iedereen. Voor een uitleg waar een toegankelijke site aan moet voldoen kan je een kijkje nemen bij 
        a(href="https://www.digitoegankelijk.nl/onderwerpen/themas/eenvoudige-uitleg"   class="link") eenvoudige uitleg van de eisen.
        |  De site moet ook technisch goed in elkaar zitten. Een klein voorbeeld. Afbeeldingen op een website hebben in de HTML een alt="" atribuut. Dit stukje code gebruik je om de afbeelding te beschrijven. Iemand die slecht ziet of helemaal niet kan zien gebruikt een screenreader. De screenreader is niet in staat om de afbeelding te beschrijven maar leest het alt-atribuut voor. Het is dus heel belangrijk om deze in te vullen. Het toegankelijk maken van je site voor alle bezoekers is iets wat je niet meer kunt laten liggen.
        span(class="span__date") Gepubliceerd op 10 oktober 2019 door Renee de Kruijf 
        a(href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="small" data-via="reneedekruijf" data-hashtags="digitoegankelijk" data-show-count="false") Tweet

block script
  script(async src="https://platform.twitter.com/widgets.js" charset="utf-8")
  script(src=`${path}js/main-bundle.js`)
  script(async src="https://www.googletagmanager.com/gtag/js?id=UA-63079670-2")
  script
    | window.dataLayer = window.dataLayer || [];
    | function gtag(){dataLayer.push(arguments);}
    | gtag('js', new Date());
    | gtag('config', 'UA-63079670-2', { 'anonymize_ip': true });