extends ../layout/layout
include ../mixins/blogNav

block prepend head
    - var page = "figma"
    - var title = "figma"
    - var description = "Figma is een online tool om interfaces te ontwerpen"
    - var path = "../"

block content
  +blogNav(page)
  //- figma
  article(class="article article--blog") 
    div.align
      h2.h2.h2--blog Figma - online tool om interfaces te ontwerpen
      p(class="p p__left p__left--blog") 
          strong.p__firstWord Figma 
          | Aan het bouwen van een website (dus het programmeren van de HTML, CSS en Javascript) gaan nog wel wat dingen vooraf. Je begint altijd met een gesprek met je opdrachtgever om er precies achter ter komen wat hij of zij voor ogen heeft. Heel belangrijk is de gebruiker van de site, wie gaat hem bezoeken en wat wil je dat die bezoeker gaat vinden of zoeken. Met andere woorden wat is het doel van de site en wie is de bezoeker? 
      p(class="p p__left p__left--blog") 
          | Praten is nodig maar dit gaat altijd makkelijker als je het visueel kunt maken. We gaan dus een ontwerp maken. Het begint meestal met een schets, die wordt dan omgezet in een wireframe (zonder afbeeldingen, tekst en kleur), dan komt er een ontwerp (met afbeeldingen, tekst en kleur) en als laatste kan je nog een prototype maken. Met Figma kan dit allemaal. Omdat het in de browser werkt kan je het overal gebruiken en kan je anderen laten meewerken. Ook kan je het eindresultaat delen met anderen.
      p(class="p p__left p__left--blog")
          a(href="https://figma.com"   class="link") Figma
          |  werkt met componenten. Je kunt een button ontwerpen en die dan omzetten in een component zodat je deze in een ander deel van je ontwerp weer gemakkelijk opnieuw kunt gebruiken. Het mooie hiervan is dat als je de mastercomponent aanpast dat alle andere meegaan. Denk bijvoorbeeld aan de kleur. Wil je een enkele instance van de button aanpassen dan kan dat ook.
      p(class="p p__left p__left--blog") 
          a(href="https://figma.com"   class="link") Figma
          |  is voor het grootste deel gratis. Wil je gebruik maken van het werken in teams dan is er een starter en een professioneel pakket. De starter is beperkt en gratis, het professionele plan is US$ 12 per maand per editor. Ik kan je zeker aanraden eens een kijkje te nemen op de site van
          a(href="https://figma.com"   class="link") Figma
          |  site. 
          span(class="span__date") Gepubliceerd op 9 april 2019 door Renee de Kruijf
          a(href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="small" data-via="reneedekruijf" data-hashtags="figma" data-show-count="false") Tweet
      a(href="https://figma.com"  )
        img(src="../images/figma-logo.svg" class="tools__image tools__image--blog" alt="figma logo")
block script
  script(async src="https://platform.twitter.com/widgets.js" charset="utf-8")
  script(src=`${path}js/main-bundle.js`)
  script(async src="https://www.googletagmanager.com/gtag/js?id=UA-63079670-2")
  script
    | window.dataLayer = window.dataLayer || [];
    | function gtag(){dataLayer.push(arguments);}
    | gtag('js', new Date());
    | gtag('config', 'UA-63079670-2', { 'anonymize_ip': true });