extends ../layout/layout

block prepend head
    - var page = ""
    - var title = "bericht niet verzonden"
    - var description = "Uw bericht is niet verzonden"
    - var path = "../"

block content
  section.alignsection.align
    h2(class="h2 error__h2") Helaas er is een probleem met de post!
    img(src="../images/mail.svg" class="error__image error__image--notSend" alt="")
    p(class="p error__p") 
      | Om onduidelijke reden is de er een probleem met de brievenbus. De post is niet verstuurd. U kunt het nog een keer proberen of neem op een andere manier contact met ons op!
block script
    //- script(src=`${path}js/contactForm-bundle.js`)
    script(src=`${path}js/main-bundle.js`)


