extends ../layout/layout

block prepend head
    - var page = "over"
    - var title = "informatie over Renee de Kruijf"
    - var description = "Wie is Renee de Kruijf en waarom toegankelijkheid belangrijk is"
    - var path = "../"

block content
    article(class="article")
    h2(class="h2 h2--index") Ik ben Renee de Kruijf
    section.align
        p(class="p p__right p__right--index")
            strong.p__firstWord Mijn eerste beroep is brandweerman.
            | Ik werk op post Voordorp in de 24-uurs dienst bij de brandweer in de stad Utrecht. Naast deze, mooie, baan heb ik veel vrije tijd en ik wilde er daarom graag iets naast gaan doen. In 2016 ben ik gestart met Webdesignpuntnl, het bouwen en ontwikkelen van websites. Dat heb ik een paar jaar gedaan maar ik merkte dat mijn interesse in de toegankelijkheid van websites steeds grote begon te worden. Daarnaast had ik behoefte aan meer focus en ik wil ook graag iets nuttigs doen voor de maatschappij. Vandaar dat ik me in 2021 helemaal ben gaan toeleggen op digitale toegankelijkheid. Ik vind dat iedereen mee moet kunnen doen aan de maatschappij ongacht ras, religie of beperking. In Nederland heeft ongeveer 25% van de bevolking een beperking. Veel dingen zijn niet meer te regelen zonder het internet, dat geldt ook voor deze 25%. Het internet is van oorsprong toegankelijk en inclusief maar helaas worden veel websites niet op de juiste manier gebouwd waardoor het voor een aantal van deze mensen erg moeilijk is om deze websites te gebruiken. Dit moet en kan anders en daar zet ik me heel graag voor in. Ben je op zoek naar een nieuwe website? Dan wil je natuurlijk dat deze zo toegankelijk mogelijk wordt gemaakt. Heb je al een website? Maar weet je niet zeker of deze toegankelijk is? Of wil je gewoon meer informatie over toegankelijkheid? Ik kan je daar bij helpen! Kijk maar eens rond op mijn website. Je kunt ook 
            a(href="pages/contact.html") contact opnemen
            |  via het contact formulier. Ik hoop je graag te spreken.
        img(src="../images/renee-de-kruijf.jpg" class="index__image right" alt="Renee de Kruijf" )
    