extends ../layout/layout
include ../mixins/blogNav

block prepend head
    - var page = "polypane"
    - var title = "polypane"
    - var description = "In deze browser kun je je site bekijken op verschillende devices en viewports"
    - var path = "../"

block content
  +blogNav(page)
  //- polypane
  article(class="article article--blog") 
    div.align
      h2.h2.h2--blog Polypane - bekijk alle formaten in 1 browser
      p(class="p p__left p__left--blog" ) 
        strong.p__firstWord Polypane
        | is een nieuwe browser gemaakt door Kilian Valkhof. In deze browser kun je je site bekijken op verschillende devices en viewports.
        a(href="https://polypane.rocks/" target="_blank" rel="noopener noreferrer" class="link") Polypane
        |  is gebasseerd op Chromium. Naast de Chrome developer tools bevat de browser nog meer handig functies.
      p(class="p p__left p__left--blog")
        | Even snel een site opzoeken op je mobiel is vandaag de dag heel normaal. Sterker nog er wordt meer gesurft op draagbare apparaten dan op de desktop. Developers moeten hier rekening mee houden en ontwerpen apps en websites voor verschillende scherm formaten. Dit kan op vele manieren maar het meest gebruikelijk (op dit moment) is het gebruik van css media&dash;queries. Het ontwerp schaalt mee op de verschillende schermen. Je hebt dus een HTML bestand en via CSS kun je breekpunten bepalen waarop de CSS verandert. Op een groot scherm met snel internet laat je bijvoorbeeld een hero&dash;image zien die je kunt verbergen op kleine schermen zodat de gebruiker hier geen dure datakosten voor hoeft te betalen.
      p(class="p p__left p__left--blog")
          img(src="../images/polypane-screenshot.png" class="blog__image" alt="Polypane screenshot" title="Screenshot van Polypane")
          | In elke browser kun je zien hoe je site eruit ziet op verschillende schermen. Je moet dan de breedte van de browser aanpassen of in de devtools de responsive view inschakelen. Je kunt niet alle devices in 1 keer zien.
          a(href="https://polypane.rocks/" target="_blank" rel="noopener noreferrer" class="link") Polypane
          |  lost dit op. Je kunt meerdere formaten in 1 keer bekijken. Je kan dit doen op basis van de breekpunten in js CCS, 
          a(href="https://polypane.rocks/" target="_blank" rel="noopener noreferrer" class="link") Polypane
          |  ziet de breekpunten en maakt op basis hiervan een overzicht. Je kan er ook voor kiezen om 1 view te zien. Je kan een screenshot maken van wat er op dit moment in de viewport zichtbaar is. Wat ook heel handig is synchronised scrolling, alle views scrollen dan synchroon mee en blijven ongeveer op de dezelfde hoogte. Als je de html of de css aanpast wordt dat in alle views zichtbaar. 
          a(href="https://polypane.rocks/" target="_blank" rel="noopener noreferrer" class="link") Polypane
          |  heeft dezelfde devtools als elke Chromiumm browser, je kunt dus snel even iets aanpassen of debuggen.
      p(class="p p__left p__left--blog") 
          a(href="https://polypane.rocks/" target="_blank" rel="noopener noreferrer" class="link") Polypane
          |  is beschikbaar voor Windows, Mac en Linux. Je kan kiezen uit een paar prijsplannen en hebt de keuze voor een maand&dash; of een jaar abbonnement. Bij betaling per jaar krijg je 20% korting. Ben je lid van 
          a(href="https://fronteers.nl/inschrijven" target="_blank" rel="noopener noreferrer" class="link") Fronteers
          |  dan kun je 25% korting krijgen. Lees hier meer over de korting op de site van 
          a(href="https://fronteers.nl/blog/2019/05/25-procent-fronteers-korting-op-nieuwe-browser-polypane" target="_blank" rel="noopener noreferrer" class="link") Fronteers
          span(class="span__date") Gepubliceerd op 17 mei 2019 door Renee de Kruijf 
          a(href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="small" data-via="reneedekruijf" data-hashtags="polypane" data-show-count="false") Tweet
      a(href="https://polypane.rocks/" target="_blank" rel="noopener noreferrer")
        img(src="../images/polypane-logo.svg" class="tools__image tools__image--blog" alt="Polypane logo")

block script
  script(async src="https://platform.twitter.com/widgets.js" charset="utf-8")
  script(src=`${path}js/main-bundle.js`)
  script(async src="https://www.googletagmanager.com/gtag/js?id=UA-63079670-2")
  script
    | window.dataLayer = window.dataLayer || [];
    | function gtag(){dataLayer.push(arguments);}
    | gtag('js', new Date());
    | gtag('config', 'UA-63079670-2', { 'anonymize_ip': true });