extends ../layout/layout

block prepend head
    - var page = "privacy"
    - var title = "privacy"
    - var description = "Webdesignpuntnl is opgericht door Renee de Kruijf. We bouwen alles zoveel mogelijk zelf maar voor de dingen die we niet zelf kunnen vragen we anderen"
    - var path = "../"

block content
  article(class="article")
    h2(class="h2") privacy
    section
      h3.h3.h3--left inleiding
      p.p Webdesignpuntnl hecht grote waarde aan de bescherming van de persoonsgegevens van haar klanten, partners en andere relaties. Persoonlijke gegevens worden door de Webdesignpuntnl dan ook met de grootst mogelijke zorgvuldigheid behandeld en beveiligd. Webdesignpuntnl houdt zich dan ook in alle gevallen aan de eisen die de Wet bescherming persoonsgegevens stelt. In dit privacy beleid staat beschreven hoe Webdesignpuntnl persoonsgegevens en gegevensbestanden registreert, verwerkt en bewaart. Ook gerelateerde onderwerpen, zoals het raadplegen, muteren, uitwisselen en verstrekken van gegevens staat in dit beleid beschreven. Het privacy beleid omvat alle on- en offline systemen waarin persoonsgegevens voorkomen en is van toepassing op alle bij Webdesignpuntnl aangesloten organisatieonderdelen.

    section
      h3.h3.h3--left welke persoonsgegevens worden vewerkt
      p.p Hoe gaat Webdesignpuntnl om met de aan haar toevertrouwde (persoonsgegevens), met welke instanties de gegevens worden gedeeld en waarom, en hoe hiervoor de toestemming van de betrokkenen is geregeld. We gebruiken onderstaande gegevens voor de communicatie met klanten en voor de boekhouding.
      
      li.list
        ul bedrijfsnaam
        ul contactpersoon
        ul telefoonnummer (optioneel)
        ul straat
        ul postcode
        ul plaats
        ul emailadres
        ul teksten en afbeeldingen
        ul inlogcodes

      p.p Deze gegevens worden in ieder geval 7 jaar bewaard. Dit komt omdat de wet dit eist voor het voeren van een administratie. Alle andere gegevens worden bewaar gedurende de duur van de opdracht en de overeenkomst.
          

