extends ../layout/layout

block prepend head
    - var page = "privacy"
    - var title = "privacy"
    - var description = "Webdesignpuntnl is opgericht door Renee de Kruijf. We bouwen alle denkbare webapplicaties! Van ontwerp naar oplevering"
    - var path = "../"

block content
  article(class="article")
    h2(class="h2") privacy statement
    section
      h3.h3.h3--left inleiding
      p.p Webdesignpuntnl hecht grote waarde aan de bescherming van de persoonsgegevens van haar klanten, partners en andere relaties. Persoonlijke gegevens worden door de Webdesignpuntnl dan ook met de grootst mogelijke zorgvuldigheid behandeld en beveiligd. Webdesignpuntnl houdt zich dan ook in alle gevallen aan de eisen die de Wet bescherming persoonsgegevens stelt. In dit privacy beleid staat beschreven hoe Webdesignpuntnl persoonsgegevens en gegevensbestanden registreert, verwerkt en bewaart. Ook gerelateerde onderwerpen, zoals het raadplegen, muteren, uitwisselen en verstrekken van gegevens staat in dit beleid beschreven. Het privacy beleid omvat alle on- en offline systemen waarin persoonsgegevens voorkomen en is van toepassing op alle bij Webdesignpuntnl aangesloten organisatieonderdelen.

    section
      h3.h3.h3--left welke persoonsgegevens worden vewerkt
      p.p Hoe gaat Webdesignpuntnl om met de aan haar toevertrouwde (persoonsgegevens), met welke instanties de gegevens worden gedeeld en waarom, en hoe hiervoor de toestemming van de betrokkenen is geregeld. We gebruiken onderstaande gegevens voor de communicatie met klanten en voor de boekhouding.
      
        ul.list
          li bedrijfsnaam
          li contactpersoon
          li telefoonnummer (optioneel)
          li straat
          li postcode
          li plaats
          li emailadres
          li teksten en afbeeldingen
          li inlogcodes

      p.p Deze gegevens worden in ieder geval 7 jaar bewaard. Dit komt omdat de wet dit eist voor het voeren van een administratie. Alle andere gegevens worden bewaar gedurende de duur van de opdracht en de overeenkomst.

    section
      h3.h3.h3--left opslaan gegevens
      p.p Onze gegevens staan op een netwerkschijf die ruim voldoende is beveiligd. Er kan maar 1 persoon (eigenaar Webdesignpuntnl) bij de gegevens op deze schijf. De netwerkschijf is moeilijk bereikbaar van buitenaf en alleen via een VPN verbinding. De gegevens worden ook opgeslagen op een laptop, deze is beveiligd met een wachtwoord. De netwerk schrijf staat gedurende de nacht 0.00 - 6.00 uit. Ook wordt er elke nacht een back-up gemaakt naar een netwerkschijf op een andere locatie in Nederland. Dit gebeurt via een beveiligde verbinding en het bestand wordt beveiligd. Ook de netwerkschijf voor de back-up staat van 0.00 - 6.00 uit.

    section
      h3.h3.h3--left beheer
      p.p Gevens worden verstrekt via de een online formulier op de Website of via het eerste gesprek voor een nieuwe opdracht. De enige andere partijen waar de gegevens aan worden verstrekt zijn onze accountant en aan de belastingdienst.
    
    section
      h3.h3.h3--left geheimhouding
      p.p De persoon (eigenaar Webdesignpuntnl) die permissie heeft persoonsgegevens te registreren en te raadplegen, is verplicht tot geheimhouding tenzij er een wettelijke of redelijke noodzaak toe bestaat gegevens te verstrekken.
    
    section(id="cookies")
      h3.h3.h3--left cookies
      p.p Onze website maakt gebruik van Cookies. Via een cookieverklaring kun je aangeven of je wilt dat er cookies worden opgeslagen. Via de site verzamelen we gegevens over het surfgedrag van onze bezoekers. Je moet dan denken aan: waar surft iemand naar toe, hoe heeft deze persoon ons gevonden, in welk land woont deze persoon. Dit gebeurt natuurlijk anoniem en de gegevens worden door Google Analytics 14 maanden bewaard. De website is voorzien van de laatste beveiligingen. Alle verkeer loopt via https. Wij communiceren voornamelijk via e-mail. Al ons e-mail verkeer is beveiligd met SSL.

    section
      h3.h3.h3--left reclamedoeleinden
      p.p Op dit moment versturen wij geen reclame rond via de mail of via andere kanalen. Wel hebben wij e-mail contact met onze klanten voor overleg over een afgenomen product of service. Wij verstrekken nooit gegevens aan derden.

    section
      h3.h3.h3--left dataklekken
      p.p Wij doen er alles aan om datalekken te voorkomen en om er voor te zorgen dat onze beveiliging op orde is. Mocht het toch gebeuren dan zal dat gemeld worden aan alle betrokkenen en aan de Autoriteit Persoonsgegevens.
    
    article(class="article")
    h2(class="h2") veel gestelde vragen
    section
      h3.h3.h3--left wat zijn persoonsgegevens?
      p.p Er zijn gegevens die iets over jou zeggen. Bijvoorbeeld je naam, adres, leeftijd. Wanneer (een combinatie van) deze gegevens naar jou herleid kunnen worden spreken we over persoonsgegevens. Bijvoorbeeld je adres of e-mailadres. Maar bijvoorbeeld ook je voornaam samen met je geboortedatum. Wanneer anderen die persoonsgegevens hebben, moeten ze daar zorgvuldig mee omgaan. Ook foto’s en video’s worden gezien als persoonsgegevens.
    
    section
      h3.h3.h3--left van wie verwerkt Webdesignpuntnl persoonsgegevens?
      p.p Webdesignpuntnl verwerkt persoonsgegevens van mensen die klant bij ons zijn of waar we mee samenwerken. Ook verwerken wij gegevens van mensen die aan een bedrijf of organisatie verbonden zijn, waar wij een relatie mee hebben, willen krijgen of hebben gehad.
   
    section
      h3.h3.h3--left wie is verantwoordelijk voor de verwerking van mijn persoonsgegevens?
      p.p Alleen de eigenaar van Webdesignpuntnl is verantwoordelijk voor het verwerken van persoonsgegevens.
    
    section
      h3.h3.h3--left waarvoor verwerkt Webdesignpuntnl persoonsgegevens?
      p.p Over het algemeen omdat we dit wettelijk verplicht zijn. Als we een factuur sturen dan zijn we wettelijk verplicht daar een aantal gegevens op te zetten. De factuur moeten we zeven jaar verzamelen. Verder verzamelen we gegevens omdat we een website moeten bouwen en ontwerpen. We hebben daarvoor informatie over de klant of persoon nodig. Soms hebben we gegevens nodig om een domeinnaam te registreren dat gaat in overleg en daar wordt dan toestemming voor gegeven.
    
    section
      h3.h3.h3--left verwerkt Webdesignpuntnl ook bijzondere persoonsgegevens?
      p.p Bijzondere persoonsgegevens zijn gevoelige gegevens, bijvoorbeeld over gezondheid, strafrechtelijk verleden, etnische gegevens of gegevens betreffende ras. Wij verwerken geen bijzonder persoonsgegevens.

    section
      h3.h3.h3--left hoe gaat Webdesignpuntnl met mijn persoonsgegevens om?
      p.p Je persoonsgegevens worden zorgvuldig bewaard en niet langer dan noodzakelijk is voor normaal gebruik of het doel waarvoor zij zijn verwerkt.
    
    section
      h3.h3.h3--left wie kan er bij mijn persoonsgegevens?
      p.p Je kunt zelf niet direct bij je persoonsgegevens. Maar op verzoek kunnen we je laten zien welke gegevens we van je hebben opgeslagen. Ook kan je aangeven dat je niet wilt dat we ze bewaren of je kan ze wijzigen. Alleen de gegevens die we volgends de wet moeten bewaren voor de administratie kunnen we niet verwijderen. Alleen de eigenaar kan bij deze gegevens.
    
    section
      h3.h3.h3--left uitwisseling van persoonsgegevens binnen Webdesignpuntnl
      p.p Gegevens worden binnen Webdesignpuntnl alleen uitgewisseld indien hier een noodzaak voor is. Webdesignpuntnl is een eenmanszaak dus het uitwisselen van persoonsgegevens is niet aan de orde.
    
    section
      h3.h3.h3--left hoelang worden mijn gegevens bewaard?
      p.p Voor gegevens die noodzakelijk zijn voor het voeren van een administratie zijn we genoodzaakt deze 7 jaar te bewaren. Voor de overige gegevens geldt dat we ze bewaren zolang iemand klant bij ons is. Daarna overleggen we wat we met de gegevens doen. We kunnen ze bewaren, vernietigen of aan de klant overhandigen.
    
    section
      h3.h3.h3--left welke regels gelden bij de verwerking van persoonsgegevens?
      p.p Bij de verwerking van persoonsgegevens is Webdesignpuntnl gebonden aan de daarvoor geldende wet- en regelgeving.
    
    section
      h3.h3.h3--left kan ik zien welke gegevens Webdesignpuntnl van mij verwerkt?
      p.p Daarvoor kan je te allen tijde contact opnemen met de eigenaar via 
       a.link(href="mailto: info@webdesignpuntnl.com") webdesignpuntnl.
    
    section
      h3.h3.h3--left waar kan ik terecht met een vraag of klacht?
      p.p Voor vragen of klachten over de verwerking van persoonsgegevens door Webdesignpuntnl kun je contact opnemen 
        a.link(href="mailto: info@webdesignpuntnl.com") webdesignpuntnl.
    
    section
      h3.h3.h3--left wijzigingen privacy beleid
      p.p Webdesignpuntnl behoudt zich het recht voor om wijzigingen aan te brengen in dit privacy beleid. Het verdient aanbeveling om dit privacy beleid te raadplegen voordat je klant bij ons wordt, zodat je van de wijzigingen op de hoogte bent.

          

