extends ../layout/layout

block prepend head
    - var page = "projects"
    - var title = "klanten en projecten"
    - var description = "kijk bij de site van onze klanten om een beeld te krijgen wat we maken en kunnen maken."
    - var path = "../"

block content
  article(class="article")
    h2(class="h2") projecten
    p(class="p p--projects") Dit zijn onze afgeronde projecten en de projecten waar we op dit moment nog mee bezig zijn. Mocht je meer voorbeelden willen zien of meer informatie willen over onze werkwijze? Dan kun je altijd contact opnemen om langs te komen voor een bakje thee of koffie. 
  article(class="article")
      div(class="projects" title="de Vlinderfabriek")
        a(href="https://www.vlinderfabriek.nl" target="_blank" rel="noopener noreferrer" class="projects__link")
          div(class="projects__card")
            .projects__overlay 
              p(class="projects__overlay__p") 
                | De Vlinderfabriek wil kinderen en jongeren het creatieve &amp; grenzeloze van theater laten ontdekken.
            h2(class="projects__card__h2") de Vlinderfabriek
            img(src="../images/screenshot-vlinderfabriek.png" class="projects__card__screenshots" alt="de Vlinderfabriek")
      div(class="projects" title="buurtpanel Culemborg")
        a(href="https://www.buurtpanelculemborg.nl" target="_blank" rel="noopener noreferrer" class="projects__link" title="buurtpanel Culemborg")
          div(class="projects__card")
            .projects__overlay 
              p(class="projects__overlay__p") 
                | Het buurtpanel stelt geld beschikbaar voor initiatieven die de leefbaarheid in de wijk verhogen.
            h2(class="projects__card__h2") Buurtpanel Culemborg
            img(src="../images/screenshot-buurtpanel.png" class="projects__card__screenshots" alt="buurtpanel Culemborg")
            
      