extends ../layout/layout

block prepend head
    - var page = "projects"
    - var title = "klanten en projecten"
    - var description = "kijk bij de site van onze klanten om een beeld te krijgen wat we maken en kunnen maken."
    - var path = "../"

block content
    //- p(class="p p--projects") Dit zijn onze afgeronde projecten en de projecten waar we op dit moment nog mee bezig zijn. Mocht je meer voorbeelden willen zien of meer informatie willen over onze werkwijze? Dan kun je altijd contact opnemen om langs te komen voor een bakje thee of koffie. 
    article(class="article")
      h2(class="h2") afgeronde projecten
      section(class="projects" title="de Vlinderfabriek")
        a(href="https://www.vlinderfabriek.nl"   class="projects__link")
          div(class="projects__card")
            .projects__overlay 
              p(class="projects__overlay__p") 
                | De Vlinderfabriek wil kinderen en jongeren het creatieve &amp; grenzeloze van theater laten ontdekken.
            //- h3(class="projects__card__h2") de Vlinderfabriek
            img(src="../images/screenshot-vlinderfabriek.png" class="projects__card__screenshots" alt="de Vlinderfabriek")
      section(class="projects" title="buurtpanel Culemborg")
        a(href="https://www.buurtpanelculemborg.nl"   class="projects__link" title="buurtpanel Culemborg")
          div(class="projects__card")
            .projects__overlay 
              p(class="projects__overlay__p") 
                | Het buurtpanel stelt geld beschikbaar voor initiatieven die de leefbaarheid in de wijk verhogen.
            //- h3(class="projects__card__h2") Buurtpanel Culemborg
            img(src="../images/screenshot-buurtpanel.png" class="projects__card__screenshots" alt="buurtpanel Culemborg")
      section(class="projects" title="Stichting Echelon")
        a(href="https://www.stichtingechelon.nl"   class="projects__link" title="Stichting Echelon")
          div(class="projects__card")
            .projects__overlay 
              p(class="projects__overlay__p") 
                | Echelon is er voor iedereen die iets wil doen in de vormgeving van onderwijs over levensbeschouwing, communicatie en identiteitsontwikkeling.
            //- h3(class="projects__card__h2") Stichting Echelon
            img(src="../images/screenshot-echelon.png" class="projects__card__screenshots" alt="Stichting Echelon")
      section(class="projects" title="Uvanti")
        a(href="https://uvanti.nl"   class="projects__link" title="Uvanti")
          div(class="projects__card")
            .projects__overlay 
              p(class="projects__overlay__p") 
                | Coaching staat ergens tussen een goed gesprek met een vriend(in) en een gesprek met bijvoorbeeld een psycholoog. Het is meer dan een luisterend oor.
            //- h3(class="projects__card__h2") Stichting Echelon
            img(src="../images/screenshot-uvanti.png" class="projects__card__screenshots" alt="Uvanti")
    article(class="article")
      h2(class="h2") in productie
      section(class="projects" title="Sylke van de Calseijde Theatermaker")
        a(href="#"   class="projects__link")
          div(class="projects__card")
            .projects__overlay 
              p(class="projects__overlay__p") 
                | Sylke van de Calsijede is een freelance theatermaker. Ze is vooral gespecialiseerd in kindertheater.
            //- h3(class="projects__card__h2") Theatermaker
            img(src="../images/screenshot-theatermaker.png" class="projects__card__screenshots" alt="Sylke van de Calseijde Theatermaker")
            
      