extends layout/layout

block prepend head
    - var page = "quickscan"
    - var title = "quickscan | Webdesignpuntnl"
    - var description = "De quickscan kijkt naar een paar belangrijke toegankelijkheids eisen"
    - var path = ""

block content
    article(class="article")
    h2(class="h2 h2--index") Quickscan op toegankelijkheid
    //- h3.h3 hart voor een toegankelijk internet
    section.align
        p(class="p p__right p__right--index")
            strong.p__firstWord Testen op toegankelijkheid  
            | Heb je een website? En weet je niet zeker of deze of deze door iedereen op de juiste wijze kan worden bezocht en gebruikt? Laat je website door mij testen op toegankelijkheid. Met een quickscan kijk ik naar een aantal belangrijke toegankelijkheidseisen. 
            |  Als er uit de test punten ter verbetering zijn en je ziet het niet zitten om dit zelf aan te pakken dan kan ik je helpen deze op te lossen. Neem  
            a(href="pages/contact.html") contact
            |  op voor de mogelijkheden. 
        a(href="pages/quickscan.html" class="link__button link__button--cta") quickscan  
    section.align
        p(class="p p__left p__left--index") 
            strong.p__firstWord Toegankelijke websites
            | Ik bouw en ontwerp websites die toegankelijk zijn en gemakkelijk te gebruiken door alle bezoekers. Deze digitale toegankelijkeid is bij vanzelfsprekend en staat vanaf het eerste moment voorop.
        img(src="images/testing.svg" class="index__image right" alt="")
    section.alignsection.align
        p(class="p p__right p__right--index") 
            strong.p__firstWord Ontwerpen van een website
            | Wil je een compleet nieuwe website? Dan beginnen ik met het ontwerpen van je website. Ik ontwerp met je klanten en producten in de hoofdrol. Gebruiksvriendelijkheid en toegankelijkheid staan hierbij altijd bovenaan.
        img(src="images/designing.svg" class="index__image left" alt="") 
    section.align
        p(class="p p__left p__left--index") 
            strong.p__firstWord Bouwen van een website
            | Ik kies voor een techniek die pas bij jouw wensen, budget en project. Wil je de website zelf vullen met tekst en foto's? Dan is dat natuurlijk ook mogelijk. Heb je specifieke wensen? Dan kan ik ook een volledig op maat gemaakt website leveren aangepast aan jouw wensen. 
        img(src="images/building.svg" class="index__image right" alt="")
    section.align
        p(class="p p__right p__right--index") 
            strong.p__firstWord Online Oplossingen
            | Ik bied online oplossingen voor diverse problemen. Wil je meer informatie over wat ik voor je kan betekenen? Vul dan het 
            a(href="pages/contact.html" class="link") contactformulier
            |  in. Ik neem dan zo snel mogelijk contact met je op om de verschillende mogelijkheden te bespreken, onder het genot van koffie of thee in mijn kantoor in Culemborg. 
        img(src="images/office.svg" class="index__image right" alt="")
