extends ../layout/layout

block prepend head
    - var page = "quickscan"
    - var title = "quickscan toegankelijkheid"
    - var description = "De quickscan controleert op toegankelijkheids richtlijnen zodat mensen met een beperking de website ook kunnen gebruiken"
    - var path = "../"

block content
    article(class="article")
    h2(class="h2 h2--index") Quickscan op toegankelijkheid
    //- h3.h3 hart voor een toegankelijk internet
    section.align
        h3.h3 Mensen met een beperking
        p(class="p p__right p__right--index")
            strong.p__firstWord 25%
            | van de Nederlandse bevolking heeft een beperking, dit kan zowel lichamelijk als geestelijk zijn. Voor sommigen kan dit betekenen dat ze hulpmiddelen nodig hebben om bepaalde basistaken uit te voeren. Het internet is voor veel mensen met een beperking een terugkerende uitdaging. Het internet is niet meer weg te denken uit ons dagelijkse leven, een rijbewijs aanvragen of even iets opzoeken gebeurt voornamelijk nog online. Als een website, alleen maar bedient kan worden met een muis en niet met het toetsenbord dan wordt er een grote groep mensen uitgesloten. Of er is alleen een telefoonnummer op de website en geen contact-formulier, voor iemand die doof is wordt het een enorme opgave om contact op te nemen met dit bedrijf. Gelukkig zijn er richtlijen om een website toegankelijk te maken zodat iedereen er gebruik van kan maken.
        img(src="../images/testing.svg" class="index__image right" alt="" loading="lazy")
    section.align
        h3.h3 de Quickscan op toegankelijkheid
        p(class="p p__left p__left--index") 
            strong.p__firstWord De
            | Quickscan is een compacte test waarbij er op een paar belangrijke richtlijnen gecontroleerd wordt of een website te gebruiken is met andere middelen dan een muis en een scherm. Deze test is niet bedoeld om op alle richtlijnen te controleren. Het geeft wel een goede indicatie of de website in de basis toegankelijk is. Na deze scan is er altijd nog een controle nodig van alle richtlijnen. Daarnaast is toegankelijkheid een continue proces wat steeds aandacht nodig heeft. Zeker bij een website waar door verschillende personen aan wordt gewerkt en inhoud aan wordt toegevoegd. 
        img(src="../images/designing.svg" class="index__image left" alt="" loading="lazy") 
    section.alignsection.align
        h3.h3 Testpunten Webrichtlijnen
        p(class="p p__right p__right--index") 
            strong.p__firstWord Er
            | worden 3 pagina's getest op 6 verschillende punten. 2 van de drie pagina's zijn altijd de homepage en de contactpagina, de derde wordt in overleg bepaald. Er wordt ondermeer gecontroleerd of het mogelijk is om te navigeren met het toetsenbord, of er een goede beschrijving is van de afbeeldingen en er wordt naar de contrasten gekeken tussen teksten en achtergronden. In Nederland maken we gebruik van richtlijnen die opgesteld zijn door het 
            a(href="https://www.w3.org/WAI/standards-guidelines/wcag/") WCAG (Web Content Accessibility Guidelines).
            |  Deze richtlijnen staan in de 
            a(href="http://w3.org/") W3C (World Wide Web Consortium).
            |  Wil je meer weten over deze richtlijnen? 
            a(href="wcag-draft.html") Lees dan deze blog over de WCAG 2.2.
        img(src="../images/building.svg" class="index__image right" alt="" loading="lazy")
    section.align
        h3.h3 Resultaten Quickscan
        p(class="p p__left p__left--index") 
            strong.p__firstWord Na
            | afloop ontvangt u een testrapport met de resulaten, eventueel kan het resultaat ook nog in een gesprek worden toegelicht. Aan de hand van het testrapport kunnen we gaan kijken naar eventuele vervolgstappen. Het doel is om zo goed als mogelijk te voldoen aan de richtlijnen die gesteld worden aan een toegankelijke website. 
        img(src="../images/office.svg" class="index__image right" alt="" loading="lazy")