extends ../layout/layout

block prepend head
    - var page = "tools"
    - var title = "tools voor de ontwikkeling van online applicaties"
    - var description = "Webdesignpuntnl maakt gebruik van de modernste tools zoals Webpack, React en Node"
    - var path = "../"

block content
  article(class="article")
    h2(class="h2") Tools
    div.align
      p(class="p p--right") 
        strong.p__firstWord De tools 
        |  die ik gebruik veranderen eigenlijk constant. Dit komt enerzijds omdat de tools zelf veranderen, ze verdwijnen, worden vervangen door modernere of verbeteren. Aan de andere kant vraagt elk project om zijn eigen toolset. Een site met 1 pagina is minder complex dat een site met een grote database of een betaalsysteem. Ook maakt het uit of je in een team werkt of alleen.
    div.align
      a(href="https://pugjs.org" target="_blank")
        img(src="../images/pug-logo.svg" class="tools__image")
      p(class="p p--left") 
          strong.p__firstWord PUG
          | is een preprocessor voor html. 
          a(href="https://pugjs.org" target="_blank" class="link") pug
          |  vereenvoudigt en versneld het schrijven van html. Je kan werken met layouts en mixins. Je hebt met een layout file 1 bestand voor je algemene opmaak, dit bestand kan je dan in al je html bestanden terug laten komen. Mocht je iets willen aanpassen dan gebeurt dit in alle html bestanden waarin je je layout bestnd aanroept. Je kunt in 
          a(href="https://pugjs.org" target="_blank" class="link") pug
          |  Javascript gebruiken (pug is Javascript). Je kunt dus werken met variabelen, if-statemens, loops en functies. Erg handig!!
    div.align
      a(href="https://sass-lang.com/" target="_blank")
        img(src="../images/sass-logo.svg" class="tools__image")
      p(class="p p--right") 
          strong.p__firstWord sass
          | is ook een preprocessor maar dan voor CSS. Met 
          a(href="https://sass-lang.com/" target="_blank" class="link") sass 
          | heb je veel meer mogelijkheden dan met css. Je beschikt over variabelen (bijvoorbeeld voor kleuren of lettertypes) over mixins en formules. Ook kan je je css opdelen in blokken of partials, dit is heel prettig voor het overzicht. Dit wordt uiteindelijk weer samengevoegd tot een css bestand.
    div.align
      a(href="http://getbem.com/" target="_blank")
        img(src="../images/bem-logo.svg" class="tools__image")
      p(class="p p--left") 
          strong.p__firstWord bem
          | of block element modifier is een systeem om het gebruik van css te versimpelen. Elk block wat gestyled moet worden krijgt een classnaam. Door deze naamconventie wordt het gemakkelijker om goede classnamen te maken die gemakkelijk terug te vinden zijn. Je krijgt eigenlijk blokken css.
    
    