extends ../layout/layout

block prepend head
    - var page = "tools"
    - var title = "tools voor de ontwikkeling van online applicaties"
    - var description = "Webdesignpuntnl maakt gebruik van de modernste tools zoals Webpack, React en Node"
    - var path = "../"

block content
  article(class="article")
    h2(class="h2") tools
    
    setion.align
      p(class="p") 
        strong.p__firstWord De tools 
        |  die we gebruiken veranderen eigenlijk constant. Dit komt enerzijds omdat de tools zelf veranderen, ze verdwijnen, worden vervangen door modernere of verbeteren. Aan de andere kant vraagt elk project om zijn eigen toolset. Een site met 1 pagina is minder complex dat een site met een grote database of een betaalsysteem.
    
    section.align
      a(href="https://reactjs.org"  )
        img(src="../images/react-logo.svg" class="tools__image right" alt="react logo")
      p(class="p p__left") 
          strong.p__firstWord React
          | is een Javascript framework. Of anders gezegd een bibliotheek voor het bouwen van interfaces. In 
          a(href="https://reactjs.org"   class="link") React
          |  bouw je webapplicaties door middel van componenten (denk bijvoorbeeld aan de header en de footer of een menu) doordat we Javascript gebruiken kunnen we ook de voordelen van deze taal benutten. Denk aan loops, functies, variabelen. Single page applicaties zijn heel makkelijk te maken met  
          a(href="https://reactjs.org"   class="link") React
          | . Je kunt de content dynamisch veranderen in een pagina zonder een http request.

    div.align
      a(href="https://www.gatsbyjs.org"  )
        img(src="../images/gatsby_logo.svg" class="tools__image left" alt="gatsby logo")
      p(class="p p__right") 
          strong.p__firstWord Gatsby
          | is een statische site generator gebasserd op 
          a(href="https://reactjs.org"   class="link") React
          | . Met 
          a(href="https://www.gatsbyjs.org"   class="link") Gatsby
          |  kunnen we zeer snel een hele snelle site maken. Met alle voordelen van 
          a(href="https://reactjs.org"   class="link") React
          |  en Javascript. Ook kun is er veel extra functionaliteit door gebruik te maken van plugins.

    div.align
      a(href="https://pugjs.org"  )
        img(src="../images/pug-logo.svg" class="tools__image right" alt="pug logo")
      p(class="p p__left") 
          strong.p__firstWord PUG
          | is een preprocessor voor html. 
          a(href="https://pugjs.org"   class="link") pug
          |  vereenvoudigt en versneld het schrijven van html. Je kan werken met layouts en mixins. Je hebt met een layout file 1 bestand voor je algemene opmaak, dit bestand kan je dan in al je html bestanden terug laten komen. Mocht je iets willen aanpassen dan gebeurt dit in alle html bestanden waarin je je layout bestnd aanroept. Je kunt in 
          a(href="https://pugjs.org"   class="link") pug
          |  Javascript gebruiken (pug is Javascript). Je kunt dus werken met variabelen, if-statemens, loops en functies. Erg handig!!
    
    div.align
      a(href="https://sass-lang.com/"  )
        img(src="../images/sass-logo.svg" class="tools__image left" alt="sass logo")
      p(class="p p__right") 
          strong.p__firstWord Sass
          | is ook een preprocessor maar dan voor CSS. Met 
          a(href="https://sass-lang.com/"   class="link") Sass
          |  heb je veel meer mogelijkheden dan met css. Je beschikt over variabelen (bijvoorbeeld voor kleuren of lettertypes) over mixins en formules. Ook kan je je css opdelen in blokken of partials, dit is heel prettig voor het overzicht. Dit wordt uiteindelijk weer samengevoegd tot een css bestand.
    
    div.align
      a(href="http://getbem.com/"  )
        img(src="../images/bem-logo.svg" class="tools__image right" alt="bem logo")
      p(class="p p__left") 
          strong.p__firstWord BEM
          | of block element modifier is een systeem om het gebruik van css te versimpelen. Elk block wat gestyled moet worden krijgt een classnaam. Door deze naamconventie wordt het gemakkelijker om goede classnamen te maken die gemakkelijk terug te vinden zijn. Je krijgt eigenlijk blokken css.
    
    div.align
      a(href="https://es6.io/"  )
        img(src="../images/es6-logo.svg" class="tools__image left" alt="es6 logo")
      p(class="p p__right") 
          strong.p__firstWord ES6
          | Javascript is een dynamische taal, steeds komen er functies bij en verdwijnen er dingen. De laatste grote verandering is ES6. Door deze aanpassingen wordt de taal uitgebreider en gemakkelijker te gebruiken. De laatste updates van alle grote browsers ondersteunen de nieuwe specs, de oudere browsers helaas niet altijd. Wil je toch ES6 gebruiken en ook oudere browsers ondersteunen gebruik dan Babel.
    
    div.align
      a(href="https://babeljs.io/"  )
        img(src="../images/babel-logo.svg" class="tools__image right" alt="babel logo")
      p(class="p p__left") 
          strong.p__firstWord Babel
          | is een Javascript compiler. De developer kan gewoon gebruik maken van de nieuwste feaures van Javascript, 
          a(href="https://babeljs.io/"   class="link") Babel
          |  vertaald dit naar de oude syntax die oudere browser ook begrijpen.

    div.align
      a(href="https://emmet.io/"  )
        img(src="../images/emmet-logo.svg" class="tools__image left" alt="emmet logo")
      p(class="p p__right") 
          strong.p__firstWord Emmet
          | of block element modifier is een systeem om het gebruik van css te versimpelen. Elk block wat gestyled moet worden krijgt een classnaam. Door deze naamconventie wordt het gemakkelijker om goede classnamen te maken die gemakkelijk terug te vinden zijn. Je krijgt eigenlijk blokken css.
    
    div.align
      a(href="https://eslint.org/"  )
        img(src="../images/eslint-logo.svg" class="tools__image right" alt="eslint logo")
      p(class="p p__left") 
          strong.p__firstWord Eslint
          | is een tool om er voor te zorgen dat je code voldoet aan een bepaalde standaard. Zeker in teams zorgt dit er voor dat iedereen dezelfde stijl gebruikt. Je kan zelf stijlen bepalen of je gebruikt een stijl-guide. De guide van 
          a(href="https://github.com/dustinspecker/awesome-eslint"   class="link") AirBnb
          |  is er bijvoorbeeld eentje. Mochten er stijlen zijn die je niet prettig vindt dan kun je die per project of globaal aan of uit zetten.
    
    div.align
      a(href="https://www.npmjs.com/"  )
        img(src="../images/npm-logo.svg" class="tools__image left" alt="npm logo")
      p(class="p p__right") 
          strong.p__firstWord npm
          | of Node Package Manager is een bibliotheek vol met Javascript code. Wil je bijvoorbeeld een image-slider en heb je niet de kennis of de tijd om deze te bouwen dan is er hier eentje te vinden die je kan gebruiken en kan aanpassen naar eigen wens.
    
    div.align
      a(href="https://webpack.js.org/"  )
        img(src="../images/webpack-logo.svg" class="tools__image right" alt="webpack logo")
      p(class="p p__left") 
          strong.p__firstWord Webpack
          | is een buildtool. Of eigenlijk een systeem dat wat zaken voor je automatiseerd. Bijvoorbeeld je 
          a(href="https://sass-lang.com/"   class="link") Sass 
          | omzetten naar CSS en deze meteen door een minifier halen. Of al je Javascript bestanden samenvoegen tot 1 compact bestand. En ook heel handig je browser verversen als je ergens een aanpassing hebt gedaan.
    
    div.align
      a(href="https://code.visualstudio.com/"  )
        img(src="../images/vscode-logo.svg" class="tools__image left" alt="vscode logo")
      p(class="p p__right") 
          strong.p__firstWord Vscode
          | of Visual Studio Code. Voor code schrijven heb je een editor noidig. Een simpele text-editor volstaat, maar wil je meer dan heb je een echte code-editor nodig. Vscode is degene die ik op dit moment gebruik. Je hebt dan alles in 1 en je kunt hem volledig naar je hand zetten qua kleuren, iconen en plugins. Het beste is om er een paar te proberen om zo te kijke welke jij prettig vindt.
    div.align
      a(href="https://figma.com/"  )
        img(src="../images/figma-logo.svg" class="tools__image right" alt="figma logo")
      p(class="p p__left") 
          strong.p__firstWord Figma
          | is een online ontwerptool. Voordat het eigenlijk bouwen (coderen of programmeren) van een website begint moet er een ontwerp worden gemaakt. Ik doe dat in Figma. Dit is een online ontwerptool. Figma is vooral bedoeld voor apps en websites. Je kunt er in samenwerken en je kunt er prototypes in maken.
    
    