extends ../layout/layout

block prepend head
    - var page = "voorwaarden"
    - var title = "voorwaarden"
    - var description = "de algemene voorwaarden van Webdesingpuntnl"
    - var path = "../"

block content
  article(class="article")
    h2(class="h2") algemene voorwaarden
    section
      h3.h3.h3--left artikel 1 Definities
      p.p
        ol(class="list list--ol") 
          li 1.1 In deze algemene voorwaarden hebben de volgende begrippen de hierna omschreven betekenis: 
          li 1.2 <strong>Webdesignpuntnl</strong>: dat zijn wij, de rechtspersoon Webdesignpuntnl, ingeschreven bij de Kamer van Koophandel onder nummer 65789369. 
          li 1.3 <strong>Opdrachtgever</strong>: dit ben jij of je organisatie, de natuurlijke persoon of rechtspersoon met wie de Overeenkomst tot levering van producten en diensten van Webdesignpuntnl wordt gesloten. Oftewel een klant van Webdesignpuntnl.
          li 1.4 <strong>Diensten</strong>: alle diensten die Webdesignpuntnl levert, zoals webdevelopment, onderhoud aan websites en webapplicaties zowel inhoudelijk als technisch, webdesign, controle, advies en ontwikkelen van toegankelijke websites. 
          li 1.5 <strong>Producten</strong>: de resultaten van de Diensten, zoals websites, broncode, ontwerpen voor zowel online als offline, beeldmateriaal, rapporten en andere eindproducten die een resultaat zijn uit de geleverde diensten. 
          li 1.6 <strong>Abonnementen</strong>: diensten die worden afgenomen, waarvoor maandelijks en/of jaarlijks een vooraf afgesproken bedrag wordt betaald, analyse- en adviesgesprekken, onderhoudsabonnementen en alle andere abonnementen die we op basis van onze diensten kunnen aanbieden. 
          li 1.7 <strong>Overeenkomst</strong>: elke wederzijdse acceptatie, schriftelijk of per e-mail bevestigd, van levering van één of meer producten of diensten van Webdesignpuntnl, zoals opgenomen in een aan Opdrachtgever toegezonden offerte of aanbieding. 
          li 1.8 <strong>Schriftelijk</strong>: onder schriftelijk bedoelen we in deze Algemene Voorwaarden ook communicatie per e-mail. 
          li 1.9 <strong>AVG</strong>: Algemene Verordening Gegevensbescherming.
    section
        h3.h3.h3--left Artikel 2 Toepasselijkheid
        p.p
          ol(class="list list--ol")
            li 2.1 Deze algemene voorwaarden zijn van toepassing op iedere aanbieding, offerte en Overeenkomst tussen Webdesignpuntnl en een Opdrachtgever en op alle producten en diensten die Webdesignpuntnl levert. 
            li 2.2 Deze algemene voorwaarden zijn eveneens van toepassing op alle Overeenkomsten met Webdesignpuntnl, waarbij voor de uitvoering van diensten derden worden betrokken. 
            li 2.3 Eventuele afwijkingen op deze algemene voorwaarden zijn slechts geldig, wanneer deze uitdrukkelijk schriftelijk zijn overeengekomen. 
            li 2.4 De toepasselijkheid van eventuele inkoopvoorwaarden of andere voorwaarden van Opdrachtgever wordt uitdrukkelijk van de hand gewezen. 
            li 2.5 Wanneer een of meerdere bepalingen in deze algemene voorwaarden nietig zijn of vernietigd mochten worden, blijven de overige bepalingen van deze algemene voorwaarden volledig van toepassing.
            li 2.6 Door ondertekening van een overeenkomst met Webdesignpuntnl verklaart de opdrachtgever dat hij kennis heeft genomen van deze algemene voorwaarden van Webdesignpuntnl en dat hij met deze voorwaarden akkoord gaat. 
    section
        h3.h3.h3--left Artikel 3 Offertes en aanbiedingen
        p.p
          ol(class="list list--ol")
            li 3.1 Alle offertes en aanbiedingen zijn vrijblijvend, tenzij door Webdesignpuntnl schriftelijk anders is aangegeven. 
            li 3.2 De door Webdesignpuntnl gemaakte offertes en aanbiedingen zijn geldig gedurende 25 dagen, tenzij anders aangegeven. Webdesignpuntnl is slechts aan de offertes en aanbiedingen gebonden, wanneer akkoord hierop door de Opdrachtgever schriftelijk of per e-mail en binnen 25 dagen wordt bevestigd, tenzij anders aangegeven. 
            li 3.3 De prijzen in de genoemde aanbiedingen en offertes zijn exclusief BTW en andere heffingen van overheidswege, alsmede eventuele in het kader van de Overeenkomst te maken kosten, waaronder reis-, verzend- en administratiekosten, tenzij anders aangegeven. 
            li 3.4 Als Opdrachtgever zorg je ervoor dat Webdesignpuntnl volledig en correct is geïnformeerd en controleer je of de informatie goed is overgenomen in de offerte of aanbieding. Zo maken we samen een goede, passende offerte. Mocht later blijken dat de informatie onjuist of incompleet was, dan heeft Webdesignpuntnl het recht om de offerte aan te passen. 
            li 3.5 Er is geen Overeenkomst, wanneer de Opdrachtgever niet op alle onderdelen van de offerte of aanbieding akkoord gaat. Tenzij wij schriftelijk aangeven dat dit wel zo is. 
            li 3.6 Een samengestelde prijsopgave verplicht Webdesignpuntnl niet tot het verrichten van een gedeelte van de opdracht voor de opgegeven prijs die genoemd is bij een gedeelte. Tenzij wij schriftelijk aangeven dat dit wel zo is. 
            li 3.7 Aanbiedingen of offertes gelden niet automatisch voor toekomstige opdrachten. 
            li 3.8 Ondanks het feit dat we zorgvuldig onze offertes en aanbiedingen schrijven, kan het voorkomen dat er een vergissing, verschrijving of typefout voorkomt in de offerte. Je kan ons hier dan niet aan houden. 
            li 3.9 Een Overeenkomst komt tot stand door een wederzijdse, schriftelijke bevestiging van offertes en/of aanbiedingen.
    section
        h3.h3.h3--left Artikel 4 Uitvoering van de Overeenkomst 
        p.p
          ol(class="list list--ol")
            li 4.1 Webdesignpuntnl zal de Overeenkomst naar haar beste inzicht en vermogen en overeenkomstig de eisen van goed vakmanschap uitvoeren. Webdesignpuntnl heeft bij het uitvoeren van de Overeenkomst een inspanningsverplichting en geen resultaatsverplichting, tenzij uitdrukkelijk schriftelijk een resultaat met een Opdrachtgever wordt overeengekomen. In het geval van zoekmachine optimalisatie (SEO) maakt Webdesignpuntnl nooit resultaatafspraken en kan daar ook niet aan gehouden worden. 
            li 4.2 Webdesignpuntnl heeft het recht bepaalde werkzaamheden te laten verrichten door derden, wanneer dit is vereist voor een goede uitvoering van de Overeenkomst. 
            li 4.3 De Opdrachtgever draagt er zorg voor dat alle gegevens, waarvan Webdesignpuntnl aangeeft dat deze noodzakelijk zijn of waarvan de Opdrachtgever redelijkerwijs behoort te begrijpen dat deze noodzakelijk zijn voor het uitvoeren van de Overeenkomst, tijdig aan Webdesignpuntnl worden verstrekt. Wanneer voor de uitvoering van de Overeenkomst benodigde gegevens niet tijdig aan Webdesignpuntnl zijn verstrekt, heeft Webdesignpuntnl het recht de uitvoering van de Overeenkomst op te schorten en/of de uit de vertraging voortvloeiende extra kosten volgens de gebruikelijke tarieven aan de Opdrachtgever in rekening te brengen. 
            li 4.4 Webdesignpuntnl is niet aansprakelijk voor schade, van welke aard ook, doordat Webdesignpuntnl is uitgegaan van door de Opdrachtgever verstrekte onjuiste en/of onvolledige gegevens, tenzij deze onjuistheid of onvolledigheid voor Webdesignpuntnl kenbaar behoorde te zijn. 
            li 4.5 Wanneer is overeengekomen dat de Overeenkomst in fasen zal worden uitgevoerd, kan Webdesignpuntnl de uitvoering van die onderdelen die tot een volgende fase behoren, opschorten totdat de Opdrachtgever de resultaten van de daaraan voorafgaande fase schriftelijk heeft goedgekeurd. 
            li 4.6 Is binnen de looptijd van de Overeenkomst voor de voltooiing van bepaalde werkzaamheden een termijn overeengekomen, dan is dit nooit een fatale termijn. Bij overschrijding van de uitvoeringstermijn dient de Opdrachtgever Webdesignpuntnl derhalve schriftelijk in gebreke te stellen. 
            li 4.7 Opdrachtgever vrijwaart Webdesignpuntnl van eventuele aanspraken van derden, die in verband met de uitvoering van de Overeenkomst schade lijden en welke aan Opdrachtgever toerekenbaar is.
    section
        h3.h3.h3--left Artikel 5 Wijziging van de Overeenkomst 
        p.p
          ol(class="list list--ol")
            li 5.1 Wanneer tijdens de uitvoering van de Overeenkomst blijkt dat het voor een behoorlijke uitvoering noodzakelijk is om de te verrichten werkzaamheden te wijzigen of aan te vullen, zullen Opdrachtgever en Webdesignpuntnl tijdig en in onderling overleg de Overeenkomst daartoe aanpassen. 
            li 5.2 Wanneer Opdrachtgever en Webdesignpuntnl overeenkomen dat de Overeenkomst wordt gewijzigd of aangevuld, kan het tijdstip van voltooiing van de uitvoering daardoor worden beïnvloed. Webdesignpuntnl zal de Opdrachtgever zo spoedig mogelijk hiervan op de hoogte stellen. 
            li 5.3 Wanneer de wijziging van of aanvulling op de Overeenkomst financiële en/of kwalitatieve consequenties zal hebben, zal Webdesignpuntnl de Opdrachtgever hierover van tevoren inlichten. 
            li 5.4 Wanneer een vast honorarium is overeengekomen, zal Webdesignpuntnl daarbij aangeven in hoeverre de wijziging of aanvulling van de Overeenkomst een overschrijding van dit honorarium tot gevolg heeft.
            li 5.5 In afwijking van lid 3 zal Webdesignpuntnl geen meerkosten in rekening kunnen brengen, wanneer de wijziging of aanvulling het gevolg is van omstandigheden die aan Webdesignpuntnl kunnen worden toegerekend. 
            li 5.6 Webdesignpuntnl behoudt zich het recht voor de Overeenkomst en/of deze voorwaarden te wijzigen of aan te vullen. Hiervan stelt zij de Opdrachtgever tenminste één maand voordat de wijziging van kracht wordt, op de hoogte. Wanneer de Opdrachtgever hier niet schriftelijk op reageert, wordt hij geacht met de wijziging akkoord te zijn gegaan. Wanneer de Opdrachtgever de wijziging niet accepteert, kan hij tot één week voor de datum waarop de wijziging van kracht wordt, de Overeenkomst beëindigen tegen deze datum.
            li 5.7 Na het goedkeuren van de offerte en het goedkeuren van de eerste opzet van de website is het niet mogelijk om kosteloos veranderingen aan het design te laten uitvoeren.
            li 5.8 Indien Webdesignpuntnl op verzoek of met voorafgaande instemming van opdrachtgever werkzaamheden of andere prestaties heeft verricht die buiten de inhoud of omvang de overeengekomen diensten en producten vallen, zullen deze werkzaamheden of prestaties door opdrachtgever aan Webdesignpuntnl worden vergoed volgens de gebruikelijke tarieven van Webdesignpuntnl. Webdesignpuntnl is echter niet verplicht aan een dergelijk verzoek te voldoen en kan verlangen dat daar voor een afzonderlijke schriftelijke overeenkomst wordt gesloten.
    section
        h3.h3.h3--left Artikel 6 Duur en opzegging 
        p.p
          ol(class="list list--ol")
            li 6.1 In het geval van een Product wordt de Overeenkomst beëindigd, wanneer de overeengekomen prestaties over en weer zijn geleverd. 
            li 6.2 In het geval van abonnementen en onderhoudscontracten wordt de Overeenkomst aangegaan voor onbepaalde tijd met een minimum van 12 maanden, tenzij uitdrukkelijk en schriftelijk anders overeengekomen. Na het verstrijken van de minimumduur van 12 maanden kan je de Overeenkomst schriftelijk wijzigen of beëindigen per maand.
            li 6.3 Zowel Opdrachtgever als Webdesignpuntnl kunnen de Overeenkomst altijd schriftelijk opzeggen.
            li 6.4 Wanneer de Overeenkomst tussentijds wordt opgezegd door Opdrachtgever, heeft Webdesignpuntnl recht op compensatie vanwege het daardoor ontstane en aannemelijk te maken bezettingsverlies, tenzij er feiten en omstandigheden aan de opzegging ten grondslag liggen, die aan Webdesignpuntnl zijn toe te rekenen. Verder is Opdrachtgever verplicht de tot dan toe verrichte werkzaamheden te betalen. De voorlopige resultaten van de tot dan toe verrichte werkzaamheden zullen dan ook onder voorbehoud ter beschikking worden gesteld aan Opdrachtgever. 
            li 6.5 Wanneer de Overeenkomst tussentijds wordt opgezegd door Webdesignpuntnl, zal Webdesignpuntnl in overleg met Opdrachtgever zorgen voor een overdracht van nog te verrichten werkzaamheden aan derden, tenzij er feiten en omstandigheden aan de opzegging ten grondslag liggen, die aan Opdrachtgever toerekenbaar zijn. 
            li 6.6 Wanneer de overdracht van de werkzaamheden voor Webdesignpuntnl extra kosten met zich meebrengt, worden deze aan Opdrachtgever in rekening gebracht.
    section
        h3.h3.h3--left Artikel 7 Honorarium  
        p.p
          ol(class="list list--ol")
            li 7.1 Partijen kunnen bij het tot stand komen van de Overeenkomst een vast honorarium overeenkomen. 
            li 7.2 Wanneer geen vast honorarium wordt overeengekomen, zal het honorarium worden vastgesteld op grond van werkelijk bestede uren. Het honorarium wordt berekend volgens de gebruikelijke uurtarieven van Webdesignpuntnl, geldende voor de periode waarin de werkzaamheden worden verricht, tenzij een daarvan afwijkend uurtarief is overeengekomen. 
            li 7.3 Het honorarium is en eventuele kostenramingen zijn exclusief 21% BTW.
            li 7.4 Wanneer Webdesignpuntnl met de Opdrachtgever een vast honorarium of uurtarief overeenkomt, is Webdesignpuntnl niettemin gerechtigd tot verhoging van dit honorarium of tarief.
            li 7.5 Bovendien mag Webdesignpuntnl het honorarium verhogen, wanneer tijdens de uitvoering van de werkzaamheden blijkt dat de oorspronkelijk overeengekomen, dan wel verwachte hoeveelheid werk in zodanige mate onvoldoende werd ingeschat bij het sluiten van de Overeenkomst, en dat dit niet toerekenbaar is aan Webdesignpuntnl, dat in redelijkheid niet van Webdesignpuntnl mag worden verwacht de overeengekomen werkzaamheden te verrichten tegen het oorspronkelijk overeengekomen honorarium. Webdesignpuntnl zal de Opdrachtgever in dat geval van het voornemen tot verhoging van het honorarium of tarief in kennis stellen. Webdesignpuntnl zal daarbij de omvang van en de datum waarop de verhoging zal ingaan, vermelden.
            li 7.6 Webdesignpuntnl regelt alles omtrent webhosting, domeinnaamregistratie en SSL-certificaten. Dit wordt altijd bij een gerenommeerde Webhost afgenomen. Hier zijn jaarlijkse kosten aan verbonden. Deze kosten komen geheel voor de rekening van de opdrachtgever. De opdrachtgever krijgt de factuur van de Webhost. De opdrachtgever is na oplevering zelf verantwoordelijk voor de communicatie en betaling van de Webhost.  Webdesignpuntnl kan op geen enkele manier aansprakelijk worden gesteld voor eventuele problemen die voortvloeien uit de dienst die wordt afgenomen bij de Webhost. De opdrachtgever is en blijft eigenaar van de geregistreerde domeinnaam.
    section
        h3.h3.h3--left Artikel 8 Betaling  
        p.p
          ol(class="list list--ol")
            li 8.1 Betaling van de factuur moet binnen 14 dagen na factuurdatum, op een door Webdesignpuntnl aan te geven wijze in de valuta waarin is gedeclareerd. Bezwaren tegen de hoogte van de declaraties schorten de betalingsverplichting niet op.
            li 8.2 Tenzij anders overeen gekomen: aanbetaling van 25% op de totale kosten na het goedkeuren van de offerte. De website komt op een tijdelijke plaats op het internet te staan, waar de vorderingen bekeken kunnen worden. Na het gereedkomen van de website wordt het restant bedrag gefactureerd. Na ontvangst van het bedrag wordt de website op de definitieve locatie op het internet geplaatst.
            li 8.3 Een maand na facturatie (nazorgfase) wordt de website als volledig beschouwd en worden verdere veranderingen aan de website niet meer kosteloos uitgevoerd.
            li 8.4 In geval van Abonnementen zijn er twee mogelijkheden om te betalen:
              ul.list.list--ol.list--subList
                li A. de verschuldigde kosten worden per maand vooruitbetaald, er zal 	daarvoor maandelijks een factuur worden gestuurd door Webdesignpuntnl.
                li B. de verschuldigde kosten worden per jaar vooruitbetaald, of op een 	anderszins schriftelijk overeengekomen termijn, ook hiervoor zal 	Webdesignpuntnl steeds een factuur sturen. Betalingen vinden in dat geval 	plaats voordat de nieuwe termijn ingaat. 
            li 8.5 Wanneer Opdrachtgever in gebreke blijft in de betaling binnen de termijn van 14 dagen, dan is de Opdrachtgever van rechtswege in verzuim. Opdrachtgever is dan een rente verschuldigd van 1% per maand, tenzij de wettelijke rente hoger is, in welk geval de wettelijke rente geldt. De rente over het opeisbaar bedrag zal worden berekend vanaf het moment dat Opdrachtgever in verzuim is tot het moment van voldoening van het volledige bedrag. 
            li 8.6 Bij een niet tijdige betaling is Opdrachtgever, naast het verschuldigde bedrag en de daarop verschenen rente, gehouden tot een volledige vergoeding van zowel buitengerechtelijke als gerechtelijke incassokosten, daaronder begrepen de kosten voor advocaten, deurwaarders, incassobureaus en andere externe deskundigen. Opdrachtgever is over de gemaakte kosten rente verschuldigd. 
            li 8.7 In geval van liquidatie, faillissement, beslag of surseance van betaling van de Opdrachtgever, zijn de vorderingen van Webdesignpuntnl op de Opdrachtgever onmiddellijk opeisbaar. 
            li 8.8 Webdesignpuntnl heeft het recht de door Opdrachtgever gedane betalingen te laten strekken in de eerste plaats in mindering van de kosten, vervolgens in mindering van de opengevallen rente en tenslotte in mindering van de hoofdsom en de lopende rente. Webdesignpuntnl kan, zonder daardoor in verzuim te komen, een aanbod tot betaling weigeren, wanneer de Opdrachtgever een andere volgorde voor de toerekening aanwijst. Webdesignpuntnl kan volledige aflossing van de hoofdsom weigeren, wanneer daarbij niet eveneens de opengevallen en lopende rente alsmede de kosten worden voldaan.
            li 8.9 Webdesignpuntnl behoudt zich het recht voor de overeengekomen producten en diensten zonder waarschuwing (tijdelijk) op te schorten of te laten vervallen, wanneer de Opdrachtgever niet tijdig heeft betaald of verschuldigde bedragen door zijn toedoen niet kunnen worden geïncasseerd. Opdrachtgever blijft verplicht tot betaling van de tot op dat moment verrichte diensten en/of geleverde producten.
    section
        h3.h3.h3--left Artikel 9 Onderhoudscontracten  
        p.p
          ol(class="list list--ol")
            li 9.1 Deze voorwaarden gelden voor een éénjarig onderhoudscontract voor een bestaande website.
            li 9.2 Met onderhoud van de website wordt bedoeld:
              ul.list.list--ol.list--subList
                li - Het verzamelen, ordenen en verwerken van verkregen data van de 	opdrachtgever op bestaande pagina’s van de website. Het verzamelen, 	ordenen en verwerken van verkregen data van derden zoals de krant, 	tijdschriften, internet en andere media op bestaande pagina’s van de 	website indien toepasselijk. Het toevoegen van nieuwe teksten op 	bestaande pagina’s. Wijzigingen aan de teksten worden éénmalig 	uitgevoerd mits binnen 1 week aangeleverd, gerekend vanaf de eerste 	presentatie. In alle andere gevallen worden de kosten op uurbasis aan de 	opdrachtgever doorberekend. Onderhoud van contacten met het hostingbedrijf indien toepasselijk.
            li 9.3 Overgebleven uren gaan mee naar de volgende maand. Overgebleven uren gaan niet mee naar het volgende jaar. Geen restitutie van de overgebleven uren is mogelijk. Elk aanvullend uur wordt berekend volgens het uurtarief.
            li 9.4 De opzegtermijn voor een onderhoudscontract is 30 dagen voor het einde van de contractdatum.
            li 9.5 Webdesignpuntnl zal zich als een goed dienstverlener inspannen om zorg te dragen voor:
              ul.list.list--ol.list--subList
                li - Het up-to-date houden van de mogelijk aanwezige Wordpress 	installatie(s)
                li - Het maken van een automatische wekelijkse back-up van de website 	bestanden en database(s). Deze back-ups worden automatisch minimaal 	30 dagen bewaard. Webdesignpuntnl kan niet aansprakelijk worden 	gesteld in het geval dat de back-up (door welke reden dan ook) corrupt 	raken en daardoor niet meer te herstellen zijn.
                li - Het verlenen van aansluiting op het systeem voor de in de overeenkomst 	bepaalde diensten.
                li - Het tot stand brengen en in stand houden van de verbindingen die via het 	systeem met het internet gemaakt kunnen worden.
                li - Een passende beveiliging van (persoons)gegevens die opgeslagen 	worden.
                li - Webdesignpuntnl geeft geen garantie op onbelemmerde toegang tot het 	systeem en garandeert niet dat er te allen tijde gebruik gemaakt kan 	worden van de diensten en/of derden producten.
            li 9.6 Webdesignpuntnl is gerechtigd zonder voorafgaande bekendmaking het systeem (tijdelijk) buiten gebruik te stellen of het gebruik ervan te beperken voor zover dit noodzakelijk is voor het redelijkerwijs benodigde onderhoud of voor de noodzakelijk door Webdesignpuntnl te verrichten aanpassingen, zonder dat hierdoor een recht op schadevergoeding van de opdrachtgever jegens Webdesignpuntnl ontstaat.
            li 9.7 Webdesignpuntnl kan in geen geval aansprakelijk worden gesteld voor verlies geleden tijdens het verhuizen/instellen van de domeinnaam.
            li 9.8 In het geval de opdrachtgever onjuiste domeinnamen bestelt (spelfouten, naamfouten of iets dergelijks) wordt het registratietarief niet terugbetaald. Webdesignpuntnl zal echter trachten de domeinnaam te corrigeren zolang de registratie nog niet heeft plaatsgevonden.
            li 9.9 Webdesignpuntnl is niet aansprakelijk voor het verliezen door de opdrachtgever van diens recht(en) op een domeinnaam of voor het feit dat de domeinnaam tussentijds door een derde wordt aangevraagd en/of verkregen.
            li 9.10 Indien de webruimte van de opdrachtgever besmet is met een virus en/of gehackt is heeft Webdesignpuntnl het recht om de website verwijderen. Ter betaling van een vergoeding kan Webdesignpuntnl ingezet worden om dit probleem op te lossen, maar is hiertoe niet verplicht.
            li 9.11 Webdesignpuntnl is niet aansprakelijk voor schade, van welke aard ook, doordat een van de servers op een e-mail blacklist komt te staan waardoor e-mail verkeer mogelijk niet meer succesvol kan worden verzonden. Webdesignpuntnl tracht er echter naar om binnen redelijk termijn deze server van de desbetreffende e-mail blacklist af te halen.
            li 9.12 Indien Webdesignpuntnl ervoor kiest een specifieke webhosting dienst te beëindigen, kan Webdesignpuntnl het contract met een opzegtermijn van 30 dagen opzeggen. In dergelijke gevallen wordt het niet gebruikte deel van vooruitbetaalde bedragen vanzelfsprekend gerestitueerd. De opdrachtgever heeft dan het recht om de website bestanden en bijhorende databases op te vragen bij Webdesignpuntnl. Webdesignpuntnl is in dat geval
            alleen verantwoordelijk voor het aanleveren van deze bestanden en niet voor het overzetten en configureren van de website en bijhorende zaken op een andere server bij een derde partij.
    section
        h3.h3.h3--left Artikel 10 Garanties  
        p.p
          ol(class="list list--ol")
            li 10.1 Webdesignpuntnl wil dat u als Opdrachtgever tevreden bent over de door ons verrichte werkzaamheden. Wij vragen daarom na oplevering altijd of de Opdrachtgever wil beoordelen of de opdracht volgens afspraak is uitgevoerd en om de opgeleverde software te testen. Webdesignpuntnl spant zich in om haar producten en diensten zo goed en foutvrij mogelijk op te leveren. Mochten er onverhoopt klachten zijn, geef deze dan uiterlijk binnen 30 dagen na voltooiing van de betreffende werkzaamheden schriftelijk aan ons door. Doe dit zo gedetailleerd mogelijk, zodat Webdesignpuntnl in staat is adequaat te reageren. 
            li 10.2 Bij een gegronde klacht zal Webdesignpuntnl de werkzaamheden zo spoedig mogelijk verrichten zoals overeengekomen. 
            li 10.3 Wanneer bij een gegronde klacht het alsnog verrichten van de overeengekomen werkzaamheden niet meer mogelijk of zinvol is, zal Webdesignpuntnl slechts aansprakelijk zijn binnen de grenzen van artikel 11.
    section
        h3.h3.h3--left Artikel 11 Opschorting en ontbinding   
        p.p
          ol(class="list list--ol")
            li 11.1 Webdesignpuntnl mag de nakoming van de verplichtingen opschorten of de Overeenkomst ontbinden, wanneer:
              ul.list.list--ol.list--subList
                li A. opdrachtgever de verplichtingen uit de Overeenkomst niet of niet 	volledig nakomt; 
                li B. na het sluiten van de Overeenkomst bij Webdesignpuntnl bekend wordt dat er goede redenen zijn om te vrezen dat de Opdrachtgever de verplichtingen niet zal nakomen. In geval er goede redenen zijn om te vrezen dat de Opdrachtgever slechts gedeeltelijk of niet behoorlijk zijn verplichtingen zal nakomen, is de opschorting slechts toegestaan voor zover de tekortkoming haar rechtvaardigt. 
                li C. opdrachtgever bij het sluiten van de Overeenkomst verzocht is zekerheid te stellen voor de voldoening van zijn verplichtingen uit de Overeenkomst en deze zekerheid uitblijft of onvoldoende is. 
                li 11.2 Verder is Webdesignpuntnl bevoegd de Overeenkomst te ontbinden, wanneer zich omstandigheden voordoen welke van dien aard zijn dat nakoming van de Overeenkomst onmogelijk of naar maatstaven van redelijkheid en billijkheid niet langer kan worden gevergd. Tevens is Webdesignpuntnl bevoegd de Overeenkomst te ontbinden, wanneer zich anderszins omstandigheden voordoen welke van dien aard zijn dat ongewijzigde instandhouding van de Overeenkomst in redelijkheid niet mag worden verwacht. 
                li 11.3 Wanneer de Overeenkomst wordt ontbonden, zijn de vorderingen van Webdesignpuntnl op de Opdrachtgever onmiddellijk opeisbaar. Wanneer Webdesignpuntnl de nakoming van de verplichtingen opschort, behoudt zij haar aanspraken uit de wet en de Overeenkomst. 
                li 11.4 Webdesignpuntnl behoudt steeds het recht schadevergoeding te vorderen. 
                li 11.5 Webdesignpuntnl is te allen tijde gerechtigd, voor zover op enig moment mocht blijken dat de Opdrachtgever valse of verkeerde persoonsgegevens heeft doorgegeven, of blijkt dat de Opdrachtgever de Overeenkomst onder valse voorwendsels is aangegaan, de uitvoering van de Overeenkomst op te schorten dan wel deze, wanneer de ernst van het geval dit rechtvaardigt, te ontbinden. Gedurende de tijd van opschorting blijft de Opdrachtgever gehouden te betalen. Webdesignpuntnl is in dit geval tevens gerechtigd tot het vorderen van een schadevergoeding van de Opdrachtgever.
    section
        h3.h3.h3--left Artikel 12 Verplichtingen van de Opdrachtgever  
        p.p
          ol(class="list list--ol")
            li 12.1 Webdesignpuntnl mag de website van opdrachtgever gebruiken voor promotie en/of publiciteit. De gebruikelijke vorm hiervoor is een kleine link in de footer van de website met de tekst: ‘Website gemaakt door Webdesignpuntnl’. Daarnaast heeft Webdesignpuntnl het recht om een portfolio afbeelding op 
            a(href="https://www.webdesignpuntnl.nl" class="link") https://www.webdesignpuntnl.nl 
            | te plaatsen met daaronder een korte reactie van de opdrachtgever, tenzij anders afgesproken.
            li 12.2 Wanneer Webdesignpuntnl door het leveren van producten of diensten persoonsgegevens verwerkt, dan doen wij dit als een verwerker en is de opdrachtgever de verwerkersverantwoordelijke zoals beschreven in de AVG. In de verwerkingsovereenkomst spreken we onder andere met elkaar af welke persoonsgegevens we verwerken, hoe we daarmee omgaan, de verdeling van de verantwoordelijkheid en welke beveiligingsmaatregelingen er worden genomen. Webdesignpuntnl heeft hiervoor een standaard verwerkersovereenkomst beschikbaar. Ondanks onze inspanningen kunnen we helaas nooit 100 % veiligheid garanderen. 
            li 12.3 Wij willen om wettelijke en principiële redenen geen producten en diensten leveren die ongepaste inhoud verspreiden en/of bij anderen schade veroorzaken; daarom maken we met elke Opdrachtgever via deze algemene voorwaarden de onderstaande afspraken. 
            De Opdrachtgever zal door het gebruik van de Diensten en Producten geen rechten van derden schenden, zich ten opzichte van derden niet ongepast of in strijd met de goede zeden of openbare orde gedragen, en geen schade aan derden toebrengen. Onder meer zal de Opdrachtgever:
              ul.list.list--ol.list--subList 
                li A. de intellectuele eigendomsrechten van derden eerbiedigen; 
                li B. niet in strijd met wettelijke bepalingen gegevens verspreiden; 
                li C. zich geen toegang trachten te verschaffen tot computersystemen, waarvoor hij niet geautoriseerd is; 
                li D. zonder toestemming van de desbetreffende derde geen gegevens van derden veranderen, wissen, onbruikbaar maken dan wel gegevens van derden toevoegen; 
                li E. geen virussen verspreiden; 
                li F. geen (legale) adult content verspreiden; 
                li G. niet zodanig gebruik maken van de diensten en producten dat daardoor de juiste werking van de computersystemen van Webdesignpuntnl wordt verhinderd, dan wel dat door andere Opdrachtgevers van Webdesignpuntnl het gebruik van de diensten wordt gehinderd. Onverminderd haar overige rechten, behoudt Webdesignpuntnl zich het recht voor haar verplichtingen ten aanzien van de Opdrachtgever op te schorten, onder meer door de Opdrachtgever met onmiddellijke ingang de toegang tot het gebruik van de Diensten en Producten, of enig onderdeel daarvan, te ontzeggen, wanneer de Opdrachtgever handelt in strijd met wat we in dit artikel omschrijven. Webdesignpuntnl zal bij een zodanige opschorting nooit tot enige schadevergoeding verplicht kunnen worden. 
            li 12.4 Een klacht over een onmiskenbaar onrechtmatige publicatie via onze Producten en Diensten stuurt Webdesignpuntnl niet altijd door. Wanneer de klacht meteen duidelijk is of de klager expliciet vraagt deze niet door te sturen, beslissen wij zelf. Webdesignpuntnl mag in het geval van een onmiskenbaar onrechtmatige publicatie deze altijd per direct ontoegankelijk maken. Wij zorgen ervoor dat de inhoud dan nog niet direct verwijderd is of maken een back-up. Wanneer het duidelijk is dat de Opdrachtgever de veroorzaker is van het probleem en de klager een duidelijk belang heeft bij een rechtszaak, dan zullen en mogen wij NAW-gegevens van de Opdrachtgever afgeven.
    section
        h3.h3.h3--left Artikel 13 Aansprakelijkheid en vrijwaring  
        p.p
          ol(class="list list--ol")
            li 13.1.Wanneer Webdesignpuntnl aansprakelijk mocht zijn, dan is deze aansprakelijkheid beperkt tot wat in deze bepaling is geregeld. 
            li 13.2 Wanneer Webdesignpuntnl aansprakelijk is voor directe schade, dan is die aansprakelijkheid beperkt tot het declaratiebedrag, althans dat gedeelte van de opdracht waarop de aansprakelijkheid betrekking heeft. 
            li 13.3 Onder directe schade wordt uitsluitend verstaan: 
              ul.list.list--ol.list--subList 
                li A. de redelijke kosten ter vaststelling van de oorzaak en de omvang van de schade, voor zover de vaststelling betrekking heeft op schade in de zin van deze voorwaarden; 
                li B. de eventuele redelijke kosten gemaakt om de gebrekkige prestatie van Webdesignpuntnl aan de Overeenkomst te laten beantwoorden, tenzij deze niet aan Webdesignpuntnl toegerekend kunnen worden; 
                li C. redelijke kosten, gemaakt ter voorkoming of beperking van schade, voor zover Opdrachtgever aantoont dat deze kosten hebben geleid tot beperking van directe schade als bedoeld in deze algemene voorwaarden. 
            li 13.4 Webdesignpuntnl is nooit aansprakelijk voor indirecte schade, daaronder begrepen gevolgschade, gederfde winst, gemiste besparingen en schade door bedrijfsstagnatie. 
            li 13.5 De in deze voorwaarden opgenomen beperkingen van de aansprakelijkheid voor directe schade gelden niet, wanneer de schade te wijten is aan opzet of bewuste roekeloosheid van Webdesignpuntnl of haar medewerkers. 
            li 13.6 De Opdrachtgever vrijwaart Webdesignpuntnl van aanspraken van derden met betrekking tot rechten van intellectuele eigendom op door de Opdrachtgever verstrekte materialen of gegevens, die bij de uitvoering van de Overeenkomst worden gebruikt.
    section
        h3.h3.h3--left Artikel 14 Overmacht  
        p.p
          ol(class="list list--ol")
            li 14.1 Wanneer er sprake is van overmacht, die redelijkerwijs niet konden worden voorzien bij het afsluiten van de Overeenkomst, zijn Opdrachtgever en Webdesignpuntnl niet gehouden tot het nakomen van enige verplichting. 
            li 14.2 Onder overmacht wordt in deze algemene voorwaarden verstaan, naast wat hierover in de wet en jurisprudentie wordt begrepen, alle van buiten komende oorzaken, voorzien of niet voorzien, waarop je geen invloed kan uitoefenen, maar waardoor je niet in staat bent de verplichtingen na te komen. Onder overmacht wordt in het geval van Webdesignpuntnl ook het volgende verstaan:
              ul.list.list--ol.list--subList
                li A. een niet toerekenbare tekortkoming van toeleveranciers van Webdesignpuntnl, waaronder stroomuitval of stroomstoring, storingen in de internetverbindingen, alsmede storingen wegens onderhoud aan apparatuur en/of software. 
                li B. gebeurtenissen en omstandigheden die buiten de wil van Webdesignpuntnl vallen, zoals staking, brand, natuurrampen, overstromingen, diefstal, ziekte of overlijden. 
            li 14.3 Webdesignpuntnl heeft ook het recht zich op overmacht te beroepen, wanneer de omstandigheid die (verdere) nakoming verhindert, intreedt nadat Webdesignpuntnl haar verplichtingen had moeten nakomen. 
            li 14.4 Opdrachtgever en Webdesignpuntnl kunnen gedurende de periode dat de overmacht voortduurt, de verplichtingen uit de Overeenkomst uitstellen. Wanneer deze periode langer dan twee maanden duurt, is zowel de Opdrachtgever als Webdesignpuntnl gerechtigd om de Overeenkomst te ontbinden, zonder dat dit verplicht tot vergoeding van schade aan de andere partij. 
            li 14.5 Wanneer Webdesignpuntnl bij het intreden van de overmacht al haar verplichtingen of slechts gedeeltelijk haar verplichtingen uit de Overeenkomst is nagekomen of deze zal kunnen nakomen, dan is Webdesignpuntnl gerechtigd dit gedeelte te factureren en moet de Opdrachtgever deze factuur betalen alsof het een op zichzelf staande Overeenkomst is. Dit hoeft niet wanneer het gedeelte geen zelfstandige waarde heeft, waardoor je er als Opdrachtgever niets aan hebt.
            li 14.6 Webdesignpuntnl is niet aansprakelijk voor de gevolgen van gebeurtenissen bij een hostingprovider, domeinnaamregistrant of andere derden waarop Webdesignpuntnl geen invloed kan uitoefenen.
    section
        h3.h3.h3--left Artikel 15 Geheimhouding   
        p.p
          ol(class="list list--ol")
            li 15.1 Beide partijen zijn verplicht tot geheimhouding van alle vertrouwelijke informatie die zij in het kader van hun Overeenkomst van elkaar of uit andere bron hebben verkregen. Informatie geldt als vertrouwelijk als deze door de andere partij is medegedeeld of als dit voortvloeit uit de aard van de informatie. Partijen leggen deze verplichting ook op aan hun werknemers alsmede aan door hen ingeschakelde derden ter uitvoering van de Overeenkomst. 
            li 15.2 Webdesignpuntnl zal geen kennis nemen van de gegevens die Opdrachtgever opslaat en/of verspreidt via de Diensten van Webdesignpuntnl, tenzij dit noodzakelijk is voor de uitvoering van de Overeenkomst of de kwaliteit van de Producten en Diensten. 
            li 15.3 Wanneer op grond van een wettelijke bepaling of een rechterlijke uitspraak Webdesignpuntnl gehouden is vertrouwelijke informatie aan een door de wet of de bevoegde rechter aangewezen derde te verstrekken, en Webdesignpuntnl zich ter zake niet kan beroepen op een wettelijk dan wel door de bevoegde rechter erkend of toegestaan recht van verschoning, dan is Webdesignpuntnl niet gehouden tot schadevergoeding of schadeloosstelling en is de Opdrachtgever niet gerechtigd tot ontbinding van de Overeenkomst op grond van enige schade, hierdoor ontstaan. 
            li 15.4 Deze verplichting blijft ook bestaan na beëindiging van de Overeenkomst, zolang de verstrekkende partij redelijkerwijs aanspraak kan maken op het vertrouwelijke karakter van de informatie.
    section
        h3.h3.h3--left Artikel 16 Intellectuele eigendomsrechten en kennis    
        p.p
          ol(class="list list--ol")
            li 16.1 Webdesignpuntnl, en haar licentiegevers, behoudt alle intellectuele eigendomsrechten van de geleverde Producten, tenzij uitdrukkelijk schriftelijk anders met de Opdrachtgever is overeengekomen.
            li 16.2 Alle door Webdesignpuntnl geleverde Producten en daarmee samenhangende stukken zijn uitsluitend bestemd om te worden gebruikt door de Opdrachtgever en mogen niet door hem zonder voorafgaande toestemming van Webdesignpuntnl worden verveelvoudigd, openbaar gemaakt, of ter kennis van derden gebracht, tenzij uit de aard van de verstrekte stukken anders voortvloeit. 
            li 16.3 Webdesignpuntnl behoudt altijd het recht de door de uitvoering van de werkzaamheden toegenomen kennis voor andere doeleinden te gebruiken, voor zover hierbij geen vertrouwelijke informatie ter kennis van derden wordt gebracht.
            li 16.4. Alle door Webdesignpuntnl in het kader van de opdracht aan de opdrachtgever geleverde roerende zaken en intellectuele eigendomsrechten blijven eigendom van Webdesignpuntnl totdat de opdrachtgever alle verplichtingen (en betalingen) uit de overeenkomst Webdesignpuntnl volledig is nagekomen. Op het moment dat deze verplichtingen zijn voldaan
            ontvangt de opdrachtgever geleverde roerende zaken en intellectuele eigendomsrechten.
            li 16.5. De opdrachtgever zal al datgene doen dat redelijkerwijs van hem verwacht mag worden om de onder eigendomsvoorbehoud geleverde zaken veilig te stellen. Dit betekent in ieder geval dat de opdrachtgever de zaken onder eigendomsvoorbehoud van Webdesignpuntnl niet zal verkopen, niet zal verhuizen naar een andere website, niet zal verwerken en/of opnemen in
            een andere website.
            li 16.6. Door Webdesignpuntnl of anderen ontwikkelde scripts en programma's gebruikt in en/of bij het tot stand komen van de website blijven eigendom van Webdesignpuntnl.
            li 16.7. Mocht er gebruikt zijn gemaakt van Open Source Oplossingen kan hier nimmer copyright op de geleverde source code kunnen rusten. 
    section
        h3.h3.h3--left Artikel 17 Niet-overname personeel    
        p.p
          ol(class="list list--ol")
            li 17.1 De Opdrachtgever zal gedurende de looptijd van de Overeenkomst alsmede één jaar na beëindiging daarvan, op generlei wijze, behoudens nadat goed, zakelijk overleg ter zake heeft plaatsgehad met Webdesignpuntnl, medewerkers van Webdesignpuntnl of van ondernemingen waarop Webdesignpuntnl ter uitvoering van deze Overeenkomst beroep heeft gedaan en die betrokken zijn (geweest) bij de uitvoering van de Overeenkomst, in dienst nemen dan wel anderszins, direct of indirect, voor zich laten werken.
    section
        h3.h3.h3--left Artikel 18 Toepasselijk recht en geschillen    
        p.p
          ol(class="list list--ol")
            li 18.1 Op elke Overeenkomst tussen Webdesignpuntnl en de Opdrachtgever is Nederlands recht van toepassing. De toepasselijkheid van het Weens Koopverdrag is uitgesloten. 
            li 18.2 We hopen niet dat het gebeurt, maar als er op basis van een aanbieding of overeenkomst een geschil ontstaat, zullen zowel Webdesignpuntnl als de Opdrachtgever zich eerst tot het uiterste inspannen om dit geschil in overleg met elkaar te beslechten, voordat het geschil wordt voorgelegd aan de rechter. 
            li 18.3 Evenwel heeft Webdesignpuntnl het recht een geschil voor te leggen aan de volgens de wet bevoegde rechter. Alle geschillen, welke tussen Partijen mochten ontstaan in verband met de Overeenkomst, zullen worden voorgelegd aan de bevoegde rechter voor het arrondissement, waarin Webdesignpuntnl gevestigd is.
    section
        h3.h3.h3--left Artikel 19 Derden    
        p.p
          ol(class="list list--ol")
            li 19.1. Webdesignpuntnl is niet aansprakelijk voor prijswijzigingen die door de hostingproviders of derden worden doorgevoerd. Deze prijzen worden zonder kennisgeving door Webdesignpuntnl doorgevoerd.
            li 19.2. Webdesignpuntnl is niet aansprakelijk voor de gevolgen van het registreren (met persoonsgegevens) van domeinnaam en hosting bij een hostingprovider en/of domeinnaamregistrant.
    section
        h3.h3.h3--left Artikel 20 Wijziging, uitleg en vindplaats van de voorwaarden    
        p.p
          ol(class="list list--ol")
            li 20.1 Deze voorwaarden staan op de website van Webdesignpuntnl en zijn gratis op te vragen via 
             a.link(href="mailto: info@webdesignpuntnl.com") webdesignpuntnl. 
             | Voordat een opdracht, door beide partijen, wordt aanvaard heeft Webdesignpuntnl de opdrachtgever kennis laten nemen van deze voorwaarden. 
            li 20.2 In het geval van uitleg van de inhoud en strekking van deze algemene voorwaarden, of een vertaling in een ander taal is de Nederlandse tekst, zoals hier beschreven, steeds bepalend. 
            li 20.3 Van toepassing is steeds de laatste versie c.q. de versie, zoals die gold ten tijde van het tot stand komen van de Overeenkomst. 

            li Culemborg, 17-02-2020
        p.p 
          a(href="https://www.webdesignpuntnl.nl/av2020.pdf" class="link") Download een PDF met de Algemene voorwaarden (92kb).

    