extends ../layout/layout
include ../mixins/blogNav

block prepend head
    - var page = "wcag-draft"
    - var title = "Wat is de WCAG?"
    - var description = "Wat is de WCAG en waarom is deze belangrijk?"
    - var path = "../"

block content
  +blogNav(page)
  //- wcag 2.2 draft  
  article(class="article article--blog")     
    div.align
      h2.h2.h2--blog WCAG (Web Content Accessibility Guidelines)
      p(class="p p__left p__left--blog") 
        strong.p__firstWord Alles 
        | op het internet is onderhevig aan verandering of met andere woorden het internet wordt steeds beter en makkelijker te gebruiken. Dit geldt ook voor de richtlijnen voor toegankelijkheid. Deze richtlijnen zorgen er voor dat een website door iedereen kan worden gebruikt. Niet iedereen gebruikt bijvoorbeeld een muis, er zijn ook mensen die door een beperking (lichamelijk of geestelijk) andere technieken gebruiken om een website te bezoeken. Denk bijvoorbeeld aan een toetsenbord, een screenreader (leest een pagina of gedeeltes voor) of een brailleregel (zet tekst om in Braille). 
      h3.h3.h3--blog Web Content Accessibility Guidelines            
      p(class="p p__left p__left--blog") 
        | De WCAG of de Web Content Accessibility Guidelines zijn richtlijnen die ontwerpers en bouwers kunnen gebruiken om er voor te zorgen dat digitale middelen toegankelijk zijn voor iedereen. Ze worden opgesteld door de Accessibility Guidelines Working Group. In deze groep zitten allerlei mensen die iets te maken hebben met het internet, makers van browser, ontwerpers, webbouwers enzovoort. Deze richtlijnen worden steeds aangepast aan de veranderingen op het internet, in de maatschappij en in de techniek. Op dit moment gebruiken we WCAG 2.1 (verplicht voor overheidsinstellingen) maar WCAG 2.2 is al in de maak.
      p(class="p p__left p__left--blog") 
        | De WCAG is opgebouwd uit 4 principes:
      ol.blog__numbered__list
        li Waarneembaar
        li Bedienbaar
        li Begrijpelijk
        li Robuust
      p(class="p p__left p__left--blog") 
        | Deze 4 principes zijn weer onderverdeeld in 13 richtlijnen. Zo vind je onder het principe Waarneembaar de volgende richtlijnen: Tekstalternatieven (1.1), Op tijd gebaseerde media (1.2), Aanpasbaar (1.3), Onderscheidbaar (1.4).
        | Elke richtlijn is verder onderverdeeld in een aantal succescriteria. Deze succescriteria zijn belangrijk, want daar wordt een website, app of online document op getest. Er zijn in totaal 78 succescriteria. De principes zorgen er voor dat we het kunnen hebben over hoe mensen het internet gebruiken zonder dat we het over de technologie hoeven te hebben. Mensen kunnen het internet namelijk op verschillende manieren gebruiken en bedienen. Veel mensen gebruiken een muis maar er zijn ook mensen die het internet gebruiken met het toetsenbord of met voorleessoftware of zelfs met een Brailleregel.
      h3.h3.h3--blog Toepassen
      p(class="p p__left p__left--blog")
        | Door de principes toe te passen op je website kun je deze toegankelijk maken. Als je dit goed doet dan is de website te gebruiken door, vrijwel, iedereen en op de manier die zij zelf bepalen (muis, toetsenbord etc.). 
      h4.h4.h4--blog 1. Waarneembaar
      p(class="p p__left p__left--blog")
        | Bezoekers moeten de website en alles op de website (content) kunnen waarnemen en ervaren en ze moeten daarbij de zintuigen kunnen gebruiken die voor ze beschikbaar zijn. Afbeeldingen moeten bijvoorbeeld een beschrijving hebben voor mensen die niet of slecht kunnen zien. Een ander voorbeeld is dat iemand die een video niet kan zien ook op een andere manier (door tekst of door ondertiteling) de informatie moet kunnen krijgen.
      h4.h4.h4--blog 2. Bedienbaar
      p(class="p p__left p__left--blog")
        | Bezoekers moeten content op een website kunnen vinden en kunnen gebruiken. Dit mag niet afhangen van de manier waarop ze van de content gebruik maken. Dit moeten ze kunnen doen met elke gewenste hulptechnologie. Een website moet bijvoorbeeld te bedienen zijn met het toestenbord (voor mensen die geen muis gebruiken) en je moet dan kunnen zien waar je bent op de pagina, dus waar de focus ligt. Een link moet duidelijk beschrijven waar deze naar gaat als je er op klikt. Dus een link met beschrijving klik hier werkt niet.
      h4.h4.h4--blog 3. Begrijpelijk
      p(class="p p__left p__left--blog")
        | Zowel mensen als software moeten de inhoud van de website kunnen begrijpen en het moet duidelijk zijn hoe de website werkt. Zo moet software de taal van de pagina kunnen bepalen. Tekst moet makkelijk te lezen zijn en begrijpelijk zijn voor iedereen. Velden van een formulier moeten labels hebben zodat iedereen begrijpt wat er in zo'n veld moet komen te staan.
      h4.h4.h4--blog 4. Robuust
      p(class="p p__left p__left--blog")
        | De content moet te gebruiken zijn door zo veel mogelijk verschillende user agents. Een user agent kan een browser zijn maar dat zijn ook ander hulptechnologieën. Daarbij moet rekening worden gehouden met moderne maar ook met oude en toekomstige user agents. Dit kan je doen door een website op de juiste manier te bouwen en met foutloze code. Maar ook door te proberen code zo te schrijven dat het overal en altijd werkt. 
      p(class="p p__left p__left--blog")
      h3.h3.h3--blog drie Niveau’s
      p(class="p p__left p__left--blog") 
        | Verder is de WCAG onderverdeeld in 3 niveaus: A, AA en AAA. Hierbij geldt in het algemeen dat aan een succescriteria op niveau A relatief makkelijk te voldoen is. Succescriteria op niveau AAA zijn relatief moeilijk te behalen en zijn gericht op een geringe groep mensen met een zeer specifieke functiebeperking. Voor (semi)overheden in Nederland geldt dat zij minimaal moeten voldoen aan niveau AA.
      h3.h3.h3--blog Meer informatie
      p(class="p p__left p__left--blog")
        | Wil je meer weten over de richtlijnen en de WCAG dan kun je 
        a(href="contact.html") contact met me opnemen.
        |  Je kunt meer lezen op de 
        a(href="https://www.w3.org/") de website van het W3C
        |  en op 
        a(href="https://www.w3.org/WAI/standards-guidelines/wcag/") de website van de WCAG.
        
      p(class="p p__left p__left--blog")
        span(class="span__date") Gepubliceerd op 16 augustus 2020 door Renee de Kruijf 
        a(href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="small" data-via="reneedekruijf" data-hashtags="wcagdraft" data-show-count="false") Tweet
block script
  script(async src="https://platform.twitter.com/widgets.js" charset="utf-8")
  script(src=`${path}js/main-bundle.js`)
  script(async src="https://www.googletagmanager.com/gtag/js?id=UA-63079670-2")
  script
    | window.dataLayer = window.dataLayer || [];
    | function gtag(){dataLayer.push(arguments);}
    | gtag('js', new Date());
    | gtag('config', 'UA-63079670-2', { 'anonymize_ip': true });