mixin blogNav(page)

  aside.blog__nav
    ul.blog__nav__list
      li.blog__nav__list__item
        a(href=("slider.html") class=(page == "slider" ? "blog__nav__list__link--active" : 'blog__nav__list__link')) image-slider
      li.blog__nav__list__item
        a(href=("animatie.html") class=(page == "animatie" ? "blog__nav__list__link--active" : 'blog__nav__list__link')) animatie
      li.blog__nav__list__item
        a(href=("validate.html") class=(page == "validate" ? "blog__nav__list__link--active" : 'blog__nav__list__link')) HTML valideren
      li.blog__nav__list__item
        a(href=("social-media-fonts.html") class=(page == "fonts" ? "blog__nav__list__link--active" : 'blog__nav__list__link')) fonts social media
      li.blog__nav__list__item
        a(href=("cognitief.html") class=(page == "cognitief" ? "blog__nav__list__link--active" : 'blog__nav__list__link')) cognitieve stoornis
      li.blog__nav__list__item
        a(href=("vergrotings-software.html") class=(page == "vergrotingssoftware" ? "blog__nav__list__link--active" : 'blog__nav__list__link')) vergrotingssoftware
      li.blog__nav__list__item
        a(href=("cli.html") class=(page == "cli" ? "blog__nav__list__link--active" : 'blog__nav__list__link')) CLI
      li.blog__nav__list__item
        a(href=("lang-attribuut.html") class=(page == "langattribuut" ? "blog__nav__list__link--active" : 'blog__nav__list__link')) lang-attribuut
      li.blog__nav__list__item
        a(href=("html.html") class=(page == "html" ? "blog__nav__list__link--active" : 'blog__nav__list__link')) HTML 
      li.blog__nav__list__item
        a(href=("Klikbare-koptekst-met-javascript.html") class=(page == "klikbarekoptekst" ? "blog__nav__list__link--active" : 'blog__nav__list__link')) klikbare kop 
      li.blog__nav__list__item
        a(href=("heading.html") class=(page == "heading" ? "blog__nav__list__link--active" : 'blog__nav__list__link')) heading 
      li.blog__nav__list__item
        a(href=("contrast.html") class=(page == "contrast" ? "blog__nav__list__link--active" : 'blog__nav__list__link')) contrast 
      li.blog__nav__list__item
        a(href=("target-blank.html") class=(page == "targetBlank" ? "blog__nav__list__link--active" : 'blog__nav__list__link')) target_blank 
      li.blog__nav__list__item
        a(href=("toegankelijkheid.html") class=(page == "toegankelijkheid" ? "blog__nav__list__link--active" : 'blog__nav__list__link')) toegankelijkheid 
      li.blog__nav__list__item
        a(href=("skip-link.html") class=(page == "skipLink" ? "blog__nav__list__link--active" : 'blog__nav__list__link')) skip link 
      li.blog__nav__list__item
        a(href=("code-in-html.html") class=(page == "codeInHtml" ? "blog__nav__list__link--active" : 'blog__nav__list__link')) code in HTML 
      li.blog__nav__list__item
        a(href=("link-of-button.html") class=(page == "linkOfButton" ? "blog__nav__list__link--active" : 'blog__nav__list__link')) link of button 
      li.blog__nav__list__item
        a(href=("tab-toets.html") class=(page == "tabToets" ? "blog__nav__list__link--active" : 'blog__nav__list__link')) Toetsenbord - TAB 
      li.blog__nav__list__item
        a(href=("digitoegankelijk.html") class=(page == "digitoegankelijk" ? "blog__nav__list__link--active" : 'blog__nav__list__link')) digitoegankelijk 
      li.blog__nav__list__item
        a(href=("focus-met-javascript.html") class=(page == "focusMetJs" ? "blog__nav__list__link--active" : 'blog__nav__list__link')) focus met JS 
      li.blog__nav__list__item
        a(href=("focus-within.html") class=(page == "focusWithin" ? "blog__nav__list__link--active" : 'blog__nav__list__link')) :focus-within 
      li.blog__nav__list__item
        a(href=("git-log-oneline.html") class=(page == "gitOneline" ? "blog__nav__list__link--active" : 'blog__nav__list__link')) git log --oneline 
      li.blog__nav__list__item
        a(href=("cssscan.html") class=(page == "cssScan" ? "blog__nav__list__link--active" : 'blog__nav__list__link')) cssscan 
      li.blog__nav__list__item
        a(href=("polypane.html") class=(page == "polypane" ? "blog__nav__list__link--active" : 'blog__nav__list__link')) Polypane 
      li.blog__nav__list__item
        a(href=("figma.html") class=(page == "figma" ? "blog__nav__list__link--active" : 'blog__nav__list__link')) Figma 
