mixin testimonials

  section.testimonial
    a(href="#" class="testimonial__card")
      img(src="../../images/echelon-logo.svg", alt="")
      q Een prettige samenwerking met als resultaat een moderne en functionele website
    a(href="#" class="testimonial__card")
      img(src="../../images/echelon-logo.svg", alt="")
      q Een prettige samenwerking met als resultaat een moderne en functionele website
    a(href="#" class="testimonial__card")
      img(src="../../images/echelon-logo.svg", alt="")
      q Een prettige samenwerking met als resultaat een moderne en functionele website
    a(href="#" class="testimonial__card")
      img(src="../../images/echelon-logo.svg", alt="")
      q Een prettige samenwerking met als resultaat een moderne en functionele website
    