mixin testimonials

  section.testimonial
    //- h2.testimonial__heading Wat zeggen mijn klanten
    a(href="https://buurtpanelculemborg.nl/" class="testimonial__card")
      h3 Buurtpanel Culemborg
      //- img(src="../../images/buurtpanel-logo.svg", alt="logo Buurtpanel Culemborg")
      q Webdesignpuntnl heeft de website van Buurtpanel Culemborg modern en toegankelijk gemaakt
    a(href="https://www.stichtingechelon.nl/" class="testimonial__card")
      h3 Stichting Echelon
      //- img(src="../../images/echelon-logo.svg", alt="logo Echelon")
      q Een prettige samenwerking met als resultaat een moderne en functionele website
    a(href="https://windwinningculemborg.nl/" class="testimonial__card")
      h3 Windwinning Culemborg
      //- img(src="../../images/windwinning-logo.svg", alt="logo Windwinning Culemborg")
      q Met Renee kan je snel schakelen, hij begrijpt direct wat je bedoelt en voordat je het weet zijn wijzigingen op de site doorgevoerd
    a(href="https://www.vlinderfabriek.nl/" class="testimonial__card")
      h3 de Vlinderfabriek
      //- img(src="../../images/vlinderfabriek-logo.svg", alt="logo Vlinderfabriek")
      q We hebben een maandelijks abonnement, als we iets willen aanpassen gebeurt dat alltijd correct en snel
    a(href="https://uvanti.nl/" class="testimonial__card")
      h3 Uvanti
      //- img(src="../../images/vlinderfabriek-logo.svg", alt="logo Vlinderfabriek")
      q Renee luistert naar je wensen en kijkt naar mogelijke oplossingen binnen budget
    
    