extends layout/layout

block prepend head
    - var page = "index"
    - var title = "welkom bij Webdesignpuntnl"
    - var description = "Webdesignpuntnl Culemborg is een eenmanszaak gespecialiseerd in het ontwerpen en bouwen van websites."
    - var path = ""

block content
    article(class="article")
    h2(class="h2") Webdesignpuntnl
    div.align
        img(src="images/renee.jpg" class="index__image" alt="Renee de Kruijf")
        p(class="p p__left p__left--index") 
            strong.p__firstWord wie....  
            | Webdesignpuntnl is Renee de Kruijf. Ik ben freelance developer en gevestigd in Culemborg. Ik doe zo veel mogelijk zelf maar ik schroom niet om de hulp van anderen in te roepen indien nodig. Lijkt me leuk om eens kennis te maken en te praten over je wensen en ideeen. 
            | Wil je weten wat ik zoal maak? Neem dan een kijkje bij de 
            a(href="pages/projects.html" class="link") projecten.
    div.align
        img(src="images/code-high.jpg" class="index__image" alt="code")
        p(class="p p__right p__right--index") 
            strong.p__firstWord wat.... 
            | Mijn specialiteit ligt bij code maar ik maak ook wel eens een ontwerpuitstapje. Mocht de wensen te ingewikkeld worden voor mijn ontwerp kwaliteiten dan laat ik het ontwerp over aan een echte designer. Alle wensen zijn om te zetten in een website. Van Wordpress tot het volledig op maat bouwen van een website. De vraag bepaalt. Dit alles wordt duidelijk bij een bak koffie of thee! Je kan contact opnemen via het 
            a(href="pages/projects.html" class="link") contactformulier.
    div.align
        img(src="images/kantoor.jpg" class="index__image" alt="kantoor")
        p(class="p p__left p__left--index") 
            strong.p__firstWord waar....
            | In mijn kleine (maar fijne) kantoor aan huis heb ik alles wat ik nodig heb. Dit kantoor bevindt zich in Culemborg. Ik werk 1 dag in de week bij 
            a(href="https://daar.space/" target="_blank" rel="noopener noreferrer" class="link") DAAR
            |  in Utrecht. Bij 
            a(href="https://daar.space/" target="_blank" rel="noopener noreferrer" class="link") DAAR
            |  kunnen we ook overleggen met 1 of meerdere personen. De verdere communicatie bepalen we tijdens de voorbereidingsfase.
    div.align
        img(src="images/pug-logo.svg" class="index__image" alt="pug logo")
        p(class="p p__right p__right--index") 
            strong.p__firstWord hoe....
            |  Dat bepaalt je zelf of je wens bepaalt. Klein en simpel of groots en dat ingewikkelder. De technieken gaan van een Wordpress site tot aan een volledige op maat gemaakt ontworpen en gebouwde website. Ik gebruik de techniek die het best past bij de wensen en bij het doel van de site. Voor de technieken die ik (op dit moment) gebruik kun je een kijkje nemen bij 
            a(href="pages/tools.html" class="link") tools.