extends layout/layout

block prepend head
    - var page = "index"
    - var title = "welkom bij Webdesignpuntnl"
    - var description = "Webdesignpuntnl Culemborg is gespecialiseerd in het ontwerpen, bouwen en testen van toegankelijke websites"
    - var path = ""
    script
        | (function(m,a,i,l,e,r){ m['MailerLiteObject']=e;function f(){ var c={ a:arguments,q:[]};var r=this.push(c);return "number"!=typeof r?r:f.bind(c.q);} f.q=f.q||[];m[e]=m[e]||f.bind(f.q);m[e].q=m[e].q||f.q;r=a.createElement(i); var _=a.getElementsByTagName(i)[0];r.async=1;r.src=l+'?v'+(~~(new Date().getTime()/1000000)); 
        | _.parentNode.insertBefore(r,_);})(window, document, 'script', 'https://static.mailerlite.com/js/universal.js', 'ml'); var ml_account = ml('accounts', '3023458', 'e8q5w0m6i5', 'load');

block content
    article(class="article")
    h2(class="h2 h2--index") bouwen aan toegankelijke websites
    //- h3.h3 hart voor een toegankelijk internet
    section.align
        p(class="p p__right p__right--index")
            strong.p__firstWord Testen op toegankelijkheid  
            | Heb je een website? En weet je niet zeker of deze of deze door iedereen op de juiste wijze kan worden bezocht en gebruikt? Laat je website door mij testen op toegankelijkheid. Met een quickscan kijk ik naar een aantal belangrijke toegankelijkheidseisen. 
            |  Als er uit de test punten ter verbetering zijn en je ziet het niet zitten om dit zelf aan te pakken dan kan ik je helpen deze op te lossen. 
        a(href="pages/quickscan.html" class="link__button link__button--cta") quickscan  
    section.align
        p(class="p p__left p__left--index") 
            strong.p__firstWord Toegankelijke websites
            | Ik bouw en ontwerp websites die toegankelijk zijn en gemakkelijk te gebruiken door alle bezoekers. Deze digitale toegankelijkeid is bij vanzelfsprekend en staat vanaf het eerste moment voorop.
        img(src="images/testing.svg" class="index__image right" alt="")
    section.alignsection.align
        p(class="p p__right p__right--index") 
            strong.p__firstWord Ontwerpen van een website
            | Wil je een compleet nieuwe website? Dan beginnen ik met het ontwerpen van je website. Ik ontwerp met je klanten en producten in de hoofdrol. Gebruiksvriendelijkheid en toegankelijkheid staan hierbij altijd bovenaan.
        img(src="images/designing.svg" class="index__image left" alt="") 
    section.align
        p(class="p p__left p__left--index") 
            strong.p__firstWord Bouwen van een website
            | Ik kies voor een techniek die pas bij jouw wensen, budget en project. Wil je de website zelf vullen met tekst en foto's? Dan is dat natuurlijk ook mogelijk. Heb je specifieke wensen? Dan kan ik ook een volledig op maat gemaakt website leveren aangepast aan jouw wensen. 
        img(src="images/building.svg" class="index__image right" alt="")
    section.align
        p(class="p p__right p__right--index") 
            strong.p__firstWord Online Oplossingen
            | Ik bied online oplossingen voor diverse problemen. Wil je meer informatie over wat ik voor je kan betekenen? Vul dan het 
            a(href="pages/contact.html" class="link") contactformulier
            |  in. Ik neem dan zo snel mogelijk contact met je op om de verschillende mogelijkheden te bespreken, onder het genot van koffie of thee in mijn kantoor in Culemborg. 
        img(src="images/office.svg" class="index__image right" alt="")
        //- p(class="p p__right p__right--freeTest")
        //-     strong.p__firstWord Gratis  
        //-     | PDF met tips en trucs die je snel en gemakkelijk kunt toepassen op je eigen site. Het enige wat het je kost is je emailadres om zo af en toe een nieuwsbrief te ontvangen met updates voor mijn blog of andere handige zaken die met het internet en met toegankelijkheid te maken hebben. Je kunt je natuurlijk altijd afmelden als je de mails niet langer wilt ontvangen. 
        //- <div id="mlb2-3804607" class="ml-form-embedContainer ml-subscribe-form ml-subscribe-form-3804607">
        //-     <div class="ml-form-align-center">
        //-         <div class="ml-form-embedWrapper embedForm">
        //-         <div class="ml-form-embedBody ml-form-embedBodyDefault row-form">
        //-             <div class="ml-form-embedContent" style="margin-bottom:0"></div>
        //-             <form class="ml-block-form" action="https://static.mailerlite.com/webforms/submit/a8u8k3" data-code="a8u8k3" method="post" target="_self">
        //-             <div class="ml-form-formContent">
        //-                 <div class="ml-form-fieldRow">
        //-                 <div class="ml-field-group ml-field-name ml-validate-required">
        //-                     <label>Naam</label>
        //-                     <input aria-label="name" aria-required="true" type="text" class="form-control" data-inputmask="" name="fields[name]" placeholder="" autocomplete="name">
        //-                 </div>
        //-                 </div>
        //-                 <div class="ml-form-fieldRow ml-last-item">
        //-                 <div class="ml-field-group ml-field-email ml-validate-email ml-validate-required">
        //-                     <label>emailadres</label>
        //-                     <input aria-label="email" aria-required="true" type="email" class="form-control" data-inputmask="" name="fields[email]" placeholder="" autocomplete="email">
        //-                 </div>
        //-                 </div>
        //-             </div>
        //-             <div class="ml-form-checkboxRow ml-validate-required">
        //-                 <label class="checkbox"> <input type="checkbox"> <div class="label-description"> <p>Ik ga akkoord met de <a href="https://www.webdesignpuntnl.com/pages/privacy.html">privacy- en cookieverklaring</a>- en cookieverklaring</p> </div> </label>
        //-             </div>
        //-             <div class="ml-form-recaptcha ml-validate-required">
        //-                 <script src="https://www.google.com/recaptcha/api.js"></script>
        //-                 <div class="g-recaptcha" data-sitekey="6Lf1KHQUAAAAAFNKEX1hdSWCS3mRMv4FlFaNslaD"></div>
        //-             </div>
        //-             <input type="hidden" name="ml-submit" value="1">
        //-             <div class="ml-form-embedSubmit">
        //-                 <button type="submit" class="primary">Versturen</button>
        //-                 <button disabled="disabled" style="display:none" type="button" class="loading"> <div class="ml-form-embedSubmitLoad"></div> <span class="sr-only">Loading...</span> </button>
        //-             </div>
        //-             <input type="hidden" name="anticsrf" value="true">
        //-             </form>
        //-         </div>
        //-         <div class="ml-form-successBody row-success" style="display:none">
        //-             <div class="ml-form-successContent">
        //-             <h4>Thank you!</h4>
        //-             <p>You have successfully joined our subscriber list.</p>
        //-             </div>
        //-         </div>
        //-         </div>
        //-     </div>
        //-     </div>
        //-     script
        //-         |function ml_webform_success_3804607(){try{window.top.location.href="https://www.webdesignpuntnl.com/pages/gratispdf-verzonden.html"}catch(n){window.location.href="https://www.webdesignpuntnl.com/pages/gratispdf-verzonden.html"}}
        //-     script 
        //-         | src="https://static.mailerlite.com/js/w/webforms.min.js?v42b571e293fbe042bc115150134382c9" type="text/javascript"

        +testimonials