extends layout/layout

block prepend head
    - var page = "index"
    - var title = "welkom bij Webdesignpuntnl"
    - var description = "Webdesignpuntnl Culemborg is een eenmanszaak gespecialiseerd in het ontwerpen en bouwen van websites."
    - var path = ""

block content
    article(class="article")
    h2(class="h2") Webdesignpuntnl
    div.align
        img(src="images/renee.jpg" class="index__image" alt="Renee de Kruijf")
        p(class="p p__left p__left--index") 
            strong.p__firstWord wie....  
            | Wij ontwerpen en bouwen webervaringen, van idee tot ontwerp tot eindproduct. We zijn een kleine club professionals van designers en developers. Kom eens langs om kennis te maken en te praten over je wensen en ideeen. 
            | Wil je weten wat wij zoal maken? Neem dan een kijkje bij de 
            a(href="pages/projects.html" class="link") projecten.
    div.align
        img(src="images/code.png" class="index__image" alt="code")
        p(class="p p__right p__right--index") 
            strong.p__firstWord wat.... 
            | Alle wensen zijn om te zetten in een website. Van Wordpress tot het volledig op maat bouwen van een website met de modernste technieken. De klant bepaalt. Dit alles wordt duidelijk bij een kop koffie of thee! Neem contact op via het 
            a(href="pages/contact.html" class="link") contactformulier.
    div.align
        img(src="images/kantoor.jpg" class="index__image" alt="kantoor")
        p(class="p p__left p__left--index") 
            strong.p__firstWord waar....
            | Aan de Industrieweg in Culemborg bevindt zich ons kantoor. We zijn niet elke dag op kantoor dus laat even weten als je langs wilt komen.
    div.align
        img(src="images/gatsby_logo.svg" class="index__image" alt="gatsby logo")
        p(class="p p__right p__right--index") 
            strong.p__firstWord hoe....
            |  Dat bepaalt je zelf of je wens bepaalt. Klein en simpel of groots en dat ingewikkelder. De technieken gaan van een Wordpress site tot aan een volledige op maat ontworpen en gebouwde website. We gebruiken de techniek die het best past bij de wensen en bij het doel van de site. Voor de technieken die wij (op dit moment) gebruiken kun je een kijkje nemen bij 
            a(href="pages/tools.html" class="link") tools.