extends layout/layout

block prepend head
    - var page = "index"
    - var title = "welkom bij Webdesignpuntnl"
    - var description = "Webdesignpuntnl Culemborg is een eenmanszaak gespecialiseerd in het ontwerpen en bouwen van websites."
    - var path = ""

block content
    article(class="article")
    h2(class="h2") Webdesignpuntnl
    h3.h3 hart voor een toegankelijk internet
    section.align
        p(class="p") 
            strong.p__firstWord Het internet  
            | moet te gebruiken zijn voor iedereen. Wij bouwen en ontwerpen websites die toegankelijk en gemakkelijk n te gebruiken zijn voor iedereen. Niet iedereen is immers hetzelfde, we verschillen in scholing, opvoeding en achtergond. Er is ook een groep mensen in de maatschappij met een functiebeperking. Ook met deze groep houden wij rekening tijdens het ontwerpen en in de manier waarop wij een website bouwen. Deze digitoegankelijkeid is bij ons vanzelfsprekend en staat vanaf het eerste moment voorop. Wij sluiten iedereen in.
        p(class="p p__right p__right--index") 
            strong.p__firstWord Testen  
            | Heb je al een website? En weet je niet zeker of deze of deze door iedereen op een juiste wijze kan worden bezocht en gebruikt? Wij kunnen je site testen op toegankelijkheid. De eerste test is zelf gratis en geheel vrijblijvend. Je site wordt op een paar punten gestest op toegankelijkheid. Mocht je meer willen testen dan is dat natuurlijk ook mogelijk. Bij deze test wordt gekeken of de site voldoet aan de regels van de 
            abbr(title="Web Content Accessibility Guidelines" lang="en") WCAG 2.1.
            | Als er uit het advies punten ter verbetering komen en je ziet het niet zitten om dit zelf aan te pakken dan kunnen we je daar ook bij helpen.
    section.alignsection.align
        pre.language-javascript
            span.h3.h3--hidden Voorbeeld Javascript code
            code.language-javascript
                | const moveOut = () => {
                |   let overlay = 1;
                |   return overlay;
                | }
        p(class="p p__left p__left--index") 
            strong.p__firstWord Ontwerpen....
            | Wil je een compleet nieuwe website? Dan kunnen we een website voor je ontwerpen. Onze ontwerper heeft ruime ervaring op het gebied van online design. We houden rekening met je klanten, je wensen en natuurlijk komt er een ontwerp met de nadruk op gebruiksvriendelijkheid en toegankelijkheid. Je kan er in ieder geval vanuit gaan dat we site voor je ontwerpen die er modern en eigentijds uit zal zien op alle apparaten en schermen. 
    section.align
        img(src="images/gatsby_logo.svg" class="index__image left" alt="gatsby logo")
        p(class="p p__right p__right--index") 
            strong.p__firstWord bouwen
            | Ook bij het bouwen zijn er diverse mogelijkheden. We kiezen altijd een techcniek die past bij jouw wensen, budget en project. Wil je de site zelf vullen met tekst en foto's? Dan gebruiken we Wordpress. Beschik je over een beperkt budget? Dan kunnen we een bestaande template kiezen in combinatie met Wordpress. Heb je meer wensen dan is het ook mogelijk om een volledig custom project op te zetten. Bij elke techniek die we kiezen is toegankelijkheid wederom onze belangrijkste drijfveer. Op onze 
            a(href="pages/uses.html" class="link") tools
            |  pagina kun je wat meer informatie vinden over de tools die wij graag gebruiken.
    section.align
        img(src="images/kantoor.jpg" class="index__image right" alt="kantoor Culemborg")
        p(class="p p__left p__left--index") 
            strong.p__firstWord Mogelijkheden
            | Er is veel mogelijk en eigenlijk te veel om hier op te noemen. Wil je meer informatie over wat wij te bieden hebben vul dan het 
            a(href="pages/contact.html" class="link") contactformulier
            |  in. Wij nemen dan zo snel mogelijk contact op om de mogelijkheden te bespreken onder het genot van koffie of thee in ons kantoor te Culemborg. Bellen mag natuurlijk ook.