extends ../layout/layout-error


block prepend head
    - var title = "500 Internal Server Error" 
    - var path = "../"


block content
   section.alignsection.align
        h2(class="h2 error__h2") Helaas een zogenaamde 500 error!
        img(src="../images/error.svg" class="error__image" alt="")
        p(class="p error__p") 
            | Geen zorgen 500 is een code om te zeggen: er is een klein probleem met de communicatie op de server (dat is de computer waar deze website op staat). Dit ligt dus niet aan jou maar aan ons. Je kunt proberen de pagina te refreshen, soms helpt even wachten ook. Mocht het niet lukken neem dan contact met ons op via mail of telefoon.