extends ../layout/layout-error


block prepend head
    - var title = "503 Service Temporarily Unavailable"
    - var color = "blue" 


block content
    main(class="main main__vlindernieuws main--blue")
        h1 Oeps 
        article
            p Wegens onderhoud is de pagina tijdelijk niet beschikbaar! Probeer het later nog eens.