extends ../layout/layout-error


block prepend head
    - var title = "405 Method Not Allowed" 
    - var path = "../"


block content
   section.alignsection.align
        h2(class="h2 error__h2") Helaas een zogenaamde 405 error!
        img(src="../images/error.svg" class="error__image" alt="")
        p(class="p error__p") 
            | Geen zorgen 405 is een code om te zeggen: je hebt geen toegang tot deze map of dit bestand. Vaak is het een typefout die onstaat wanneer je de link met hand invoert. Check de link, of voer deze opnieuw in door te knippen en te plakken. Mocht het niet lukken neem dan contact met ons op via mail of telefoon.