extends ../layout/layout-error


block prepend head
    - var title = "404 not found" 
    - var path = "../"


block content
    section.alignsection.align
        h2(class="h2 error__h2") Helaas een zogenaamde 404 error!
        img(src="../images/404.svg" class="error__image" alt="")
        p(class="p error__p") 
            | Geen zorgen 404 is een code om te zeggen: de pagina bestaat niet of de pagina is niet gevonden. Misschien heb j3 een klein typefoutje gemaakt? Maar ook wij kunnen iets verkeerd hebben gedaan. Je kunt het nog eens proberen of neem even contact met ons op via de mail of via de telefoon!