extends ../layout/layout-error


block prepend head
    - var title = "407 Proxy Authentication Required" 
    - var color = "blue"
    - var path = "../"

block content
    main(class="main main__vlindernieuws main--blue")
        h1 Oeps
        article
            p.error__p Helaas er is iets mis gegaan. Probeer het opnieuw of kies via de buttons een andere pagina!