footer {
    background-color: $yellowColor;    
}

.topFooter {
    border-top: 1px solid $blackColor;

    .adress { // adres list
        margin: 2rem auto;
        text-align: center;
        letter-spacing: 0.1rem;
        
        h3 {
            font-size: 1.4rem;
            text-transform: uppercase;
            padding: 0 0 0.3rem;
        }

        a:link, a:visited {
            text-decoration: none;
            color: $blackColor;
        }

        li {
            font-style: normal;
            padding: 0.1rem;
        }
    }

    .social { // social icons

        h3 {
            display: none;
        }

        ul {
            text-align: center;
            margin: 2rem 0 1rem 0;

            li {
                display: inline-block;
            }
            
        }
    }
}

.bottomFooter { // bottom footer name company
    border-top: 1px solid $blackColor;
    text-align: center;
    font-size: 0.7rem;
    padding: 0.8rem 0 0.5rem 0;
}