header {
    background-color: $yellowColor;
    padding: 1rem 0 0 0;
}

nav {

    a:link, a:visited {
        font-family: $fontRaleway;
        font-weight: 700;
        font-style: normal;
        font-size: 1.2rem;
        color: $blackColor;
        text-transform: uppercase;
        text-decoration: none;

        &:hover {
            color: $orangeColor;
            text-shadow: $blackColor 1px 1px 1px;
        }

        &.active {
            color: $orangeColor;
            text-shadow: $blackColor 1px 1px 1px;
        }
    }

    ul {
        width: 100%;
        text-align: center;
        padding: 0 0 2rem 0;
        
        li {
            padding: 0.4rem;
        }
    }
}