//primary colors
$orangeColor: #FD8A39;
$yellowColor: #FFE755;
$blackColor: #000000;
$whiteColor: #ffffff;

// fonts:
$fontLogo: 'Segoe UI', Arial, Helvetica, sans-serif;
$fontRaleway: 'Raleway', Arial, Helvetica, sans-serif; 



